
<div class="ui top attached tabular menu">
    <a class="active item" data-tab="my-participation">My Participation </a>
    <a class="item" data-tab="my-competition">My Competiton </a>
</div>
<div class="ui bottom attached  tab segment active" data-tab="my-participation">
    <div class="ui relaxed divided list">
        <div class="item">
            <div class="content">
                <a class="header" href="/competition/id/id/detail">competition name</a>
                <div class="description">Updated 10 mins ago</div>
            </div>
        </div>
    </div>
</div>
<div class="ui bottom attached tab segment" data-tab="my-competition">
    <div class="ui relaxed divided list">
        <div class="item">
            <div class="content">
                <a class="header" href="/competition/id/id/detail">competition name</a>
                <div class="description">Updated 10 mins ago</div>
            </div>
        </div>
    </div>
</div>
