<div class="ui existing segment">
    <div class="ui top attached tabular menu">
        <a class="item active" data-tab="active-com">Active</a>
        <a class="item" data-tab="other-com">Others</a>
    </div>

    <div class="ui bottom attached tab segment active" data-tab="active-com">
        <div class="ui two cards" id="competition-active-container">
            <div class="card" ng-repeat="competition in competitions_active">
                <div class="content">
                    <a class="ui yellow right ribbon label"><i class="user icon"></i>{{competition.com_join_num}}</a>
                    <div class="header">{{competition.com_name}}</div>
                    <div class="right floated ui green label"><i class="checkmark icon"></i>active</div>
                    <div class="author"><a href="/other/{{competition.com_owner_id}}">{{competition.com_owner_name}}</a></div>
                    <div class="description">
                        <p>{{competition.com_des}}</p>
                    </div>
                </div>
                <div class="ui bottom attached button" ng-click="toComDetail(competition)"><i class="add icon"></i> more </div>
            </div>
        </div>
    </div>

    <div class="ui bottom attached tab segment" data-tab="other-com">
        <div class="ui two cards" id="competition-other-container">
            <div class="card" ng-repeat="competition in competitions_unactive">
                <div class="content">
                    <a class="ui yellow right ribbon label"><i class="user icon"></i>{{competition.com_join_num}}</a>
                    <div class="header">{{competition.com_name}}</div>
                    <div class="right floated ui grey label"><i class="remove icon"></i>unactive</div>
                    <div class="author"><a href="/other/{{competition.com_owner_id}}">{{competition.com_owner_name}}</a></div>
                    <div class="description">
                        <p>{{competition.com_des}}</p>
                    </div>
                </div>
                <div class="ui bottom attached button" ng-click="toComDetail(competition)"><i class="add icon"></i> more </div>
            </div>
        </div>
    </div>
</div>