<div class="ui two cards">
    <div class="card">
        <div class="content">
            <a class="ui yellow right ribbon label"><i class="user icon"></i>100</a>
            <div class="header">competition name</div>
            <div class="right floated ui green label"><i class="checkmark icon"></i>active</div>
            <div class="author"><a href="#">owner</a></div>
            <div class="description">
                description hasjgfkjas faskjfa gskjfgkasj gfkjasfgkjas gfjksagfkasg fkasgfkasg
            </div>
        </div>
        <div class="ui bottom attached button" onclick="toComDetail('id')"><i class="add icon"></i> more </div>
    </div>
    <div class="card">
        <div class="content">
            <a class="ui yellow right ribbon label"><i class="user icon"></i>100</a>
            <div class="header">competition name</div>
            <div class="right floated ui green label"><i class="checkmark icon"></i>active</div>
            <div class="author"><a href="#">owner</a></div>
            <div class="description">description </div>
        </div>
        <div class="ui bottom attached button" onclick="toComDetail('id')"><i class="add icon"></i> more </div>
    </div>
    <div class="card">
        <div class="content">
            <a class="ui yellow right ribbon label"><i class="user icon"></i>100</a>
            <div class="header">competition name</div>
            <div class="right floated ui green label"><i class="checkmark icon"></i>active</div>
            <div class="author"><a href="#">owner</a></div>
            <div class="description">description </div>
        </div>
        <div class="ui bottom attached button" onclick="toComDetail('id')"><i class="add icon"></i> more </div>
    </div>
</div>