
<div class="ui exsisting segment">
    <div class="ui relaxed divided list">
        <div class="ui header">
            My Participation
        </div>
        <div class="item" ng-repeat="com in myPcompetitions">
            <i class="large trophy middle aligned icon"></i>
            <div class="content">
                <a class="header" href="/competition/{{com.com_id}}/detail">{{com.com_name}}</a>
            </div>
        </div>
    </div>

    <div class="ui relaxed divided list">
        <div class="ui header">
            My Competition
        </div>
        <div class="item" ng-repeat="com in mycompetitions">
            <i class="large trophy middle aligned icon"></i>
            <div class="content">
                <a class="header" href="/competition/{{com.com_id}}/detail">{{com.com_name}}</a>
            </div>
        </div>
    </div>

</div>
