<div class="ui raised segment transition hidden" id="mysubmission-area">
    <table class="ui very basic celled table">
        <thead>
        <tr>
            <th class="center aligned">Name</th>
            <th class="center aligned">Accuracy Rate</th>
            <th class="center aligned">Rank</th>
        </tr>
        </thead>
        <tbody>
        <th>

        </th>
        <tr>
            <td class="center aligned"><i class="file outline icon"></i> submission 1 </td>
            <td class="center aligned">100%</td>
            <td class="center aligned">1</td>
        </tr>
        <tr>
            <td class="center aligned"><i class="file outline icon"></i> submission 3 </td>
            <td class="center aligned">100%</td>
            <td class="center aligned">1</td>
        </tr>
        </tbody>
    </table>
</div>