<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/sematic/semantic.min.css"/>
    <!--<link rel="stylesheet" href="/rank-css/about.css"/>-->
    <script src="/jquery.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0-rc.2/angular.min.js"
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/sematic/semantic.min.js" crossorigin="anonymous"></script>
    <script src="/floatingNav.js"></script>

    <script src="/controllers/app.js"></script>
    <script src="/services/upload.service.js"></script>
    <script src="/services/info.service.js"></script>
    <script src="/services/const.service.js"></script>
    <!--<script src="/controllers/homeCtrl.js"></script>-->
</head>

<div class="transition hidden"><%= comId %></div>

<body class="pushable">
<% include ../nav/navbar-floating.ejs%>

<div class="pusher">

    <div class="ui inverted vertical masthead center aligned segment">

        <% include ../nav/navbar-personal.ejs %>

        <div class="ui text container">
            <br><br>
            <h1 class="ui inverted header">
                <%=title%>
            </h1>
            <h2>Let's go!</h2>
            <br>
            <i class="down arrow icon"></i>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui grid container">
            <div class="centered row">
                <div class="twelve wide column">
                    <% include detail-content.ejs %>
                </div>
            </div>
            <div class="centered row">
                <div class="ui buttons">
                    <button class="ui green button" onclick="submitAnswer()">submit</button>
                    <button class="ui red button" onclick="downloadFile()" id="download-btn">download</button>
                    <button class="ui orange button" onclick="mySubmission()" id="submission-btn">my submission</button>
                    <button class="ui pink button" onclick="showRank()" id="rank-btn">rank</button>
                    <button class="ui blue button" onclick="showDiscuss()" id="discuss-btn">discuss</button>
                    <button class="ui grey disabled button" onclick="showAnswer()" id="answer-btn">answer</button>
                </div>

            </div>
            <div class="centered row">
                <div class="ten wide column">
                    <% include detail-discuss.ejs %>
                    <% include detail-download.ejs %>
                    <% include detail-mysubmitions.ejs %>
                    <% include detail-rank.ejs %>
                    <% include detail-answer.ejs %>
                </div>
            </div>
        </div>
    </div>
    <% include detail-popupwindow.ejs %>
    <% include ../footer.ejs %>
</div>

</body>

<script>
    function submitAnswer() {
        $('#submit').modal('show');
    };

    function downloadFile() {
        // download file
        $('#download-area').transition('fade up');
        if ($('#download-btn').text() === 'download') {
            $('#download-btn').text('close download');
        }
        else {
            $('#download-btn').text('download');
        }

    };

    function showDiscuss() {
        // show discuss
        $('#discuss-area').transition('fade up');
        if ($('#discuss-btn').text() === 'discuss') {
            $('#discuss-btn').text('close discuss');
        }
        else {
            $('#discuss-btn').text('discuss');
        }
    };

    function mySubmission() {
        // show my submission
        $('#mysubmission-area').transition('fade up');
        if ($('#submission-btn').text() === 'my submission') {
            $('#submission-btn').text('close my submission');
        }
        else {
            $('#submission-btn').text('my submission');
        }

    };

    function showRank() {
        // show rank
        $('#rank-area').transition('fade up');
        if ($('#rank-btn').text() === 'close rank') {
            $('#rank-btn').text('rank');
        }
        else {
            $('#rank-btn').text('close rank');
        }
    };

    function showAnswer() {
        // show answer 未结束之前disabled
        $('#answer-area').transition('fade up');
        if ($('#answer-btn').text() === 'close answer') {
            $('#answer-btn').text('answer');
        }
        else {
            $('#answer-btn').text('close answer');
        }
    };


</script>

</html>