<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/sematic/semantic.min.css"/>
    <link rel="stylesheet" href="/nv.d3.css"/>
    <!--<link rel="stylesheet" href="/rank-css/about.css"/>-->
    <script src="/jquery.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0-rc.2/angular.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plupload/2.1.1/plupload.full.min.js"></script>
    <script src="https://cdn.staticfile.org/qiniu-js-sdk/1.0.0-beta/qiniu.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/sematic/semantic.min.js" crossorigin="anonymous"></script>
    <script src="/floatingNav.js"></script>
    <!--for d3 chart-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
    <script src="/nv.d3.js"></script>

    <script src="/ng-pagination/dist/directive.pagination.js"></script>
    <script src="/controllers/app.js"></script>
    <script src="/controllers/competition/detailCtrl.js"></script>
    <script src="/services/const.service.js"></script>
    <script src="/services/upload.service.js"></script>
    <script src="/services/info.service.js"></script>
    <script src="/services/create.service.js"></script>
    <script src="/services/auth.service.js"></script>
    <script src="/controllers/authCtrl.js"></script>
</head>


<body class="pushable" ng-app="myApp" ng-controller="authCtrl">
<div class="transition hidden" id="com-id"><%= comId %></div>
<div class="pusher" ng-controller="detailCtrl">

    <div ng-if="isLogin">
        <% include ../nav/navbar-floating.ejs%>
    </div>
    <div ng-if="!isLogin">
        <% include ../nav/navbar-floating-public.ejs %>
    </div>

    <div class="ui inverted vertical masthead center aligned segment">
        <div>
            <div ng-if="!isLogin">
                <% include ../nav/navbar-public.ejs %>
            </div>
            <div ng-if="isLogin">
                <% include ../nav/navbar-personal.ejs %>
            </div>
        </div>

        <div class="ui text container">
            <br><br>
            <h1 class="ui inverted header">
                {{competition.com_name}}
            </h1>
            <h2>Let's go!</h2>
            <br>
            <i class="down arrow icon"></i>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui grid container">
            <div class="centered row">
                <div class="twelve wide column">
                    <% include detail-content.ejs %>
                </div>
            </div>
            <div class="centered row">
                <div class="ui buttons">
                    <button class="ui green button" ng-click="submitAnswer()" ng-if="isLogin">submit</button>
                    <button class="ui green button disabled" ng-click="submitAnswer()" ng-if="!isLogin">submit->login</button>
                    <button class="ui red button" onclick="downloadFile()" id="download-btn">download</button>
                    <button class="ui orange button" onclick="mySubmission()" id="submission-btn">close my submission</button>
                    <button class="ui pink button" onclick="showRank()" id="rank-btn">rank</button>
                    <button class="ui blue button" onclick="showDiscuss()" id="discuss-btn">discuss</button>
                    <button class="ui grey disabled button" onclick="showAnswer()" id="answer-btn">answer</button>
                </div>

            </div>
            <div class="centered row">
                <div class="ten wide column">
                    <% include detail-discuss.ejs %>
                    <% include detail-mysubmitions.ejs %>
                    <% include detail-rank.ejs %>
                    <% include detail-answer.ejs %>
                </div>
            </div>
        </div>
    </div>
    <!--以下为submit时弹出的页面-->
    <div class="ui modal" id="upload-modal">
        <div class="header" id="upload-modual-header"></div>
        <div class="content">
            <div class="ui form">
                <div class="field" id="dataset-upload">
                    <a href="#" id="upload">upload</a>
                </div>
                <div class="ui indicating progress" data-value="1" data-total="100" id="process-bar">
                    <div class="bar"></div>
                    <div class="label"></div>
                </div>
            </div>
        </div>
    </div>
    <% include ../footer.ejs %>
</div>

</body>

<script>
    function submitAnswer() {
        $('#submit').modal('show');
    };

    function downloadFile() {
        // download file
        $('#download-area').transition('fade up');
        if ($('#download-btn').text() === 'download') {
            $('#download-btn').text('close download');
        }
        else {
            $('#download-btn').text('download');
        }

    };

    function showDiscuss() {
        // show discuss
        $('#discuss-area').transition('fade up');
        if ($('#discuss-btn').text() === 'discuss') {
            $('#discuss-btn').text('close discuss');
        }
        else {
            $('#discuss-btn').text('discuss');
        }
    };

    function mySubmission() {
        // show my submission
        $('#mysubmission-area').transition('fade up');
        $('#chart').transition('fade up');
        if ($('#submission-btn').text() === 'my submission') {
            $('#submission-btn').text('close my submission');
        }
        else {
            $('#submission-btn').text('my submission');
        }

    };

    function showRank() {
        // show rank
        $('#rank-area').transition('fade up');
        if ($('#rank-btn').text() === 'close rank') {
            $('#rank-btn').text('rank');
        }
        else {
            $('#rank-btn').text('close rank');
        }
    };

    function showAnswer() {
        // show answer 未结束之前disabled
        $('#answer-area').transition('fade up');
        if ($('#answer-btn').text() === 'close answer') {
            $('#answer-btn').text('answer');
        }
        else {
            $('#answer-btn').text('close answer');
        }
    };


</script>

</html>