<div class="ui raised segment transition hidden" id="discuss-area">
    <div class="ui comments">
        <h3 class="ui dividing header">Discuss</h3>
        <div class="comment" ng-repeat="comment in competition.comments">
            <a class="avatar">
                <img src="{{comment.head-url}}">
            </a>
            <div class="content">
                <a class="author">{{comment.username}}</a>
                <div class="metadata">
                    <span class="date">{{comment.time}}</span>
                </div>
                <div class="text">{{comment.content}} </div>
            </div>
        </div>
        <form class="ui reply form" ng-if="isLogin">
            <div class="field">
                <textarea id="comment-content"></textarea>
            </div>
            <div class="ui blue labeled submit icon button" type="submit" ng-click="submitComment()"><i class="icon edit"></i> Add Comment </div>
        </form>
    </div>
</div>