<div class="ui raised segment transition active" id="mysubmission-area" ng-if="isLogin">

    <table class="ui very basic celled table">
        <thead>
        <tr>
            <th class="center aligned">Name</th>
            <th class="center aligned">Accuracy Rate</th>
            <th class="center aligned">Time</th>
        </tr>
        </thead>
        <tbody>
        <th>

        </th>
        <tr ng-repeat="rate in rates">
            <td class="center aligned"><i class="file outline icon"></i> submission {{$index}} </td>
            <td class="center aligned">{{rate.value}}</td>
            <td class="center aligned">{{rate.uploadtime}}</td>
        </tr>
        </tbody>
    </table>

</div>

<div class="ui raised segment transition active" id="chart" ng-if="isLogin">
    <svg></svg>
</div>
