<div class="ui raised segment transition hidden" id="download-area">
    <div class="ui divided list">
        <div class="item">
            <div class=" content">
                <div class="ui text centered container">
                    <a href="#">download1</a>
                    <p>des</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="ui text centered container">
                    <a href="#">download2</a>
                    <p>des</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="ui text centered container">
                    <a href="#">download3</a>
                    <p>des</p>
                </div>
            </div>
        </div>
    </div>
</div>