<h1 class="ui header">Problem name</h1>
<div class="ui raised segments">
    <div class="ui segment">
        <h2 class="ui header">Description</h2>
    </div>
    <div class="ui segment">
        <p>Description of the competition</p>
    </div>
</div>

<div class="ui raised segments">
    <div class="ui segment">
        <h2 class="ui header">Answer Format</h2>
    </div>
    <div class="ui segment">
        <p>File format description</p>
    </div>
</div>

<div class="ui raised segments">
    <div class="ui segment">
        <h2 class="ui header">Author</h2>
    </div>
    <div class="ui segment">
        <a href="#">Author name</a>
    </div>
</div>