<div class="ui raised segment transition hidden" id="rank-area">
    <table class="ui very basic celled table">
        <thead>
        <tr><th class="center aligned">Name</th>
            <th class="center aligned">Accuracy Rate</th>
            <th class="center aligned">Rank</th>
        </tr></thead>
        <tbody>
        <tr ng-repeat="rank in ranks">
            <td class="center aligned">
                <h4 class="ui image header">
                    <img src="{{rank.head_url}}" class="ui mini rounded image">
                    <div class="content">{{rank.user_name}} <div class="sub header">{{rank.uploadDate}} </div>
                    </div>
                </h4>
            </td>
            <td class="center aligned">
               {{rank.value}}
            </td>
            <td class="center aligned">
                {{$index + 1}}
            </td>
        </tr>
        </tbody>
    </table>
</div>