<div class="ui raised segment transition hidden" id="rank-area">
    <table class="ui very basic celled table">
        <thead>
        <tr><th class="center aligned">Name</th>
            <th class="center aligned">Accuracy Rate</th>
            <th class="center aligned">Rank</th>
        </tr></thead>
        <tbody>
        <tr>
            <td class="center aligned">
                <h4 class="ui image header">
                    <img src="/images/wudi.jpg" class="ui mini rounded image">
                    <div class="content">Luo Xue <div class="sub header">764796124@qq.com </div>
                    </div>
                </h4>
            </td>
            <td class="center aligned">
                100%
            </td>
            <td class="center aligned">
                1
            </td>
        </tr>
        <tr>
            <td class="center aligned">
                <h4 class="ui image header">
                    <img src="/images/xiaowang.jpg" class="ui mini rounded image">
                    <div class="content">Xiao Wang <div class="sub header">764796124@qq.com </div>
                    </div>
                </h4>
            </td>
            <td class="center aligned">
                99%
            </td>
            <td class="center aligned">
                2
            </td>
        </tr>
        </tbody>
    </table>
</div>