<h1 class="ui header">{{competition.com_name}}
    <div class="ui green label" ng-if="competition.com_active_flag">
        active
    </div>
    <div class="ui grey label" ng-if="!competition.com_active_flag">
        unactive
    </div>
    <div class="ui blue label"><i class="hourglass start icon"></i> {{competition.com_start_time}} </div>
    <div class="ui red label"><i class="hourglass end icon"></i> {{competition.com_end_time}} </div>
</h1>
<div ng-if="isLogin">
    <div class="ui teal basic button"  ng-mouseover="jiggle()" ng-click="register()" ng-if="!isApply">
        register
    </div>

    <div class="ui red basic button" ng-mouseover="shake()" ng-click="quit()" ng-if="isApply">
        quit
    </div>
</div>

<div class="ui raised segments">
    <div class="ui segment">
        <h2 class="ui header">Description</h2>
    </div>
    <div class="ui segment">
        <p>{{competition.com_des}}</p>
    </div>
</div>

<div class="ui raised segments">
    <div class="ui segment">
        <h2 class="ui header">Answer Format</h2>
    </div>
    <div class="ui segment">
        <div class="ui container">
            <table class="ui very basic  celled table">
                <thead>
                <tr><th>A</th>
                    <th>B</th>
                </tr></thead>
                <tbody>
                <tr>
                    <td>
                        1
                    <td>
                        0
                    </td>
                </tr>
                <tr>
                    <td>
                        2
                    <td>
                        0
                    </td>
                </tr>
                <tr>
                    <td>
                        3
                    <td>
                        0
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<div class="ui raised segments">
    <div class="ui segment">
        <h2 class="ui header">Author</h2>
    </div>
    <div class="ui segment">
        <a href="/other/{{competition.com_owner_name}}">{{competition.com_owner_name}}</a>
    </div>
</div>