<!DOCTYPE html>
<html>
  <head>
      <title><%=title%></title>
      <meta charset="UTF-8">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="/sematic/semantic.min.css"/>
      <script src="/jquery.js" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0-rc.2/angular.min.js"
              crossorigin="anonymous"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="/sematic/semantic.min.js" crossorigin="anonymous"></script>
      <script src="/floatingNav.js"></script>

      <script src="/ng-pagination/dist/directive.pagination.js"></script>
      <script src="/controllers/app.js"></script>
      <script src="/controllers/competition/homeCtrl.js"></script>
      <script src="/services/info.service.js"></script>
      <script src="/services/const.service.js"></script>
      <script src="/services/auth.service.js"></script>
      <script src="/controllers/authCtrl.js"></script>

  </head>

  <body class="pushable" ng-app="myApp" ng-controller="homeCtrl">

  <div ng-controller="authCtrl">
      <div ng-if="isLogin">
          <% include ../nav/navbar-floating.ejs%>
      </div>
      <div ng-if="!isLogin">
          <% include ../nav/navbar-floating-public.ejs %>
      </div>
  </div>

  <div class="pusher">
      <div class="ui inverted vertical masthead center aligned segment" ng-controller="authCtrl">
          <div>
              <div ng-if="!isLogin">
                  <% include ../nav/navbar-public.ejs %>
              </div>
              <div ng-if="isLogin">
                  <% include ../nav/navbar-personal.ejs %>
              </div>
          </div>

          <div class="ui text container">
              <br><br>
              <h1 class="ui inverted header">
                  Competitions
              </h1>
              <h2>Let's compete with others!</h2>
              <br><br>
              <i class="down arrow icon"></i>
          </div>
      </div>
        <br><br>
      <div class="ui vertical stripe segment">
          <div class="ui aligned two column grid container">

              <div class="four column centered row">
                  <!--竞赛集-->
                  <div class="nine wide column">
                      <h1 class="ui header">Competitions</h1>
                      <% include competition-list.ejs %>
                      <br>
                      <button class="ui fluid blue button" id="load-competition-btn" ng-click="loadCompetition()">more</button>
                  </div>

                  <!--右侧标签栏-->
                  <div class="six wide right floated column">
                      <% include competition-sidebar.ejs %>
                  </div>
              </div>
          </div>
      </div>
      <%include ../footer.ejs%>
  </div>
    
  </body>
  
</html>

<script>
  $("body").css('height',$(window).height());
  $('.tabular.menu .item').tab();

  function loadCompetition() {
      $('#load-competition-btn').addClass('loading');
      setTimeout(function () {
          $('#load-competition-btn').removeClass('loading');
      }, 1000);
  };


</script>