<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/sematic/semantic.min.css"/>
    <!--<link rel="stylesheet" href="/rank-css/about.css"/>-->
    <script src="/jquery.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0-rc.2/angular.min.js"
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plupload/2.1.1/plupload.full.min.js"></script>
    <script src="https://cdn.staticfile.org/qiniu-js-sdk/1.0.0-beta/qiniu.min.js"></script>
    <script src="/sematic/semantic.min.js" crossorigin="anonymous"></script>
    <script src="/floatingNav.js"></script>

    <script src="/ng-pagination/dist/directive.pagination.js"></script>
    <script src="/controllers/app.js"></script>
    <script src="/controllers/competition/manage.js"></script>
    <script src="/services/const.service.js"></script>
    <script src="/services/upload.service.js"></script>
    <script src="/services/info.service.js"></script>
    <script src="/services/create.service.js"></script>
    <script src="/services/auth.service.js"></script>
    <script src="/controllers/authCtrl.js"></script>
</head>



<body class="pushable" ng-app="myApp" ng-controller="authCtrl">
<div class="transition hidden" id="com-id"><%= comId %></div>

<div class="pusher" ng-controller="manageCtrl">

    <div ng-if="isLogin">
        <% include ../nav/navbar-floating.ejs%>
    </div>
    <div ng-if="!isLogin">
        <% include ../nav/navbar-floating-public.ejs %>
    </div>

    <div class="ui inverted vertical masthead center aligned segment">

        <div>
            <div ng-if="!isLogin">
                <% include ../nav/navbar-public.ejs %>
            </div>
            <div ng-if="isLogin">
                <% include ../nav/navbar-personal.ejs %>
            </div>
        </div>

        <div class="ui text container">
            <br><br>
            <h1 class="ui inverted header">
                <%=title%>
            </h1>
            <h2>Manage <%=title%>!</h2>
            <br>
            <i class="down arrow icon"></i>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui grid container">
            <div class="centered row">
                <div class="twelve wide column">
                    <% include manage-content.ejs %>
                </div>
            </div>
            <div class="centered row">
                <div class="ui buttons">
                    <button class="ui red button" ng-click="downloadFile()" id="download-btn">download</button>
                    <button class="ui grey button" onclick="showAnswer()" id="answer-btn">answer</button>
                </div>

            </div>
            <div class="centered row">
                <div class="ten wide column">
                    <div class="ui raised segment transition hidden" id="download-upload">
                        <div class="ui divided list">
                            <div class="item">
                                <div class=" content">
                                    <div class="ui text centered container">
                                        <a href="#">download1</a>
                                        <p>des</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui form">
                        <div class="field" id="dataset-upload">
                            <a href="#" id="upload" ng-click="init()">upload</a>
                        </div>
                        <div class="actions">
                            <button class="ui green submit button approve" ng-click="submitDownload()">Ok</button>
                        </div>
                    </div>
                    <% include detail-answer.ejs %>
                </div>
            </div>
        </div>
    </div>
    <% include detail-popupwindow.ejs %>
    <% include ../footer.ejs %>
</div>

</body>

<script>
    function showAnswer() {
        // show answer 未结束之前disabled
        $('#answer-area').transition('fade up');
        if ($('#answer-btn').text() === 'close answer') {
            $('#answer-btn').text('answer');
        }
        else {
            $('#answer-btn').text('close answer');
        }
    };

    function editName() {
        $('#edit-name').transition('fade');
        $('#name-input').transition('fade left');
    };

    function submitName() {
        // 这里有ajax请求
        $('#name-input').transition('fade');
        $('#edit-name').transition('fade');
    };

    function editDes() {
        $('#edit-des').transition('fade');
        $('#des-input').transition('fade left');
    };

    function submitDes() {
        // 这里有ajax
        $('#des-input').transition('fade');
        $('#edit-des').transition('fade');
    };

    function editFormat() {
        $('#edit-format').transition('fade');
        $('#format-input').transition('fade left');
    };

    function submitFormat() {
        $('#format-input').transition('fade');
        $('#edit-format').transition('fade left');
    };

</script>

</html>