<!--以下为submit时弹出的页面-->
<div class="ui modal" id="submit">
    <i class="close icon"></i>
    <div class="header">
        Submit Answers
    </div>
    <div class="ui form">
        <form class="ui stacked segment">
            <div class="field" id="dataset-upload">
                <label>Your Answer</label>
                <input type="file">
            </div>
            <div class="actions">
                <button class="ui green submit button approve" type="submit">Ok</button>
            </div>
        </form>
    </div>
</div>