<h1 class="ui header">{{competition.com_name}}</h1>
<button class="ui green button" onclick="editName()" id="edit-name">Edit</button>
<div class="ui action input transition hidden" id="name-input">
    <input type="text" placeholder="edit..." ng-model="editName">
    <button class="ui blue labeled submit icon button" ng-click="submitName(competition)"><i class="icon edit"></i> submit </button>
</div>

<div class="ui raised segments">
    <div class="ui segment">
        <h2 class="ui header">Description</h2>
    </div>
    <div class="ui segment">
        <p>{{competition.com_des}}</p>
    </div>
</div>

<button class="ui green button" onclick="editDes()" id="edit-des">Edit</button>
<div class="ui raised segments transition hidden" id="des-input">
    <div class="ui segment">
        <h2 class="ui header">Description</h2>
    </div>
    <div class="ui segment">
        <div class="ui reply form">
            <div class="field">
                <textarea id="des-val"></textarea>
            </div>
            <button class="ui blue labeled submit icon button" ng-click="submitDes(competition)"><i class="icon edit"></i> submit </button>
        </div>
    </div>
</div>

<div class="ui raised segments">
    <div class="ui segment">
        <h2 class="ui header">Answer Format</h2>
    </div>
    <div class="ui segment">
        <div class="ui container">
            <table class="ui very basic  celled table">
                <thead>
                <tr><th>A</th>
                    <th>B</th>
                </tr></thead>
                <tbody>
                <tr>
                    <td>
                        1
                    <td>
                        0
                    </td>
                </tr>
                <tr>
                    <td>
                        2
                    <td>
                        0
                    </td>
                </tr>
                <tr>
                    <td>
                        3
                    <td>
                        0
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>

<div class="ui raised segments">
    <div class="ui segment">
        <h2 class="ui header">Start time</h2>
        <p>{{competition.com_start_time}}</p>
    </div>
</div>

<button class="ui green button" ng-click="editStartTime()" id="edit-start-time">Edit</button>
<div class="ui action input transition hidden" id="start-time-input">
    <input type="text" placeholder="edit..." ng-model="starttime" id="start-time-field">
    <button class="ui blue labeled submit icon button" ng-click="submitStartTime(competition)"><i class="icon edit"></i> submit </button>
</div>

<div class="ui raised segments">
    <div class="ui segment">
        <h2 class="ui header">End time</h2>
        <p>{{competition.com_end_time}}</p>
    </div>
</div>
<button class="ui green button" ng-click="editEndTime()" id="edit-end-time">Edit</button>
<div class="ui action input transition hidden" id="end-time-input">
    <input type="text" placeholder="edit..." ng-model="endtime" id="end-time-field">
    <button class="ui blue labeled submit icon button" ng-click="submitEndTime(competition)"><i class="icon edit"></i> submit </button>
</div>

