<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted center aligned stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">Contact us</h4>
                <div class="ui inverted link list">
                    <p>Tel</p>
                    <a class="item"> 15900582673</a>
                    <p>Email</p>
                    <a class="item"> tj_island@163.com</a>
                    <p>Address</p>
                    <a class="item">  1239 Siping Road, Shanghai, P.R. China</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Members</h4>
                <div class="ui inverted link list">
                    <p>1452822</p>
                    <a class="item"> Hong Jiayong</a>
                    <p>1452766</p>
                    <a class="item"> Wu Kai</a>
                    <p>1452812</p>
                    <a class="item"> Huang Zongrun</a>
                    <p>1454093</p>
                    <a class="item"> Xia Chen</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Contribution</h4>
                <div class="ui inverted link list">
                    <p>Front End</p>
                    <a class="item"> Hong Jiayong</a>
                    <a class="item"> Huang Zongrun</a>
                    <p>After End</p>
                    <a class="item"> Wu Kai</a>
                    <a class="item"> Xia Chen</a>
                    <p>Document</p>
                    <a class="item"> Hong Jiayong</a>
                    <a class="item"> Wu Kai</a>
                    <a class="item"> Huang Zongrun</a>
                    <a class="item"> Xia Chen</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Repositories</h4>
                <div class="ui inverted link list">
                    <p>Front End Repositories</p>
                    <a class="item" href="https://github.com/Hjyheart/FunData">FunData</a>
                    <p>After End Repositories</p>
                    <a class="item" href="https://github.com/wldxy/FunDataBackEnd">FunDataBackEnd</a>
                </div>
            </div>
            <div class="four wide column">
                <h2 class="ui inverted teal header">This is our javaee project!</h2>
                <p>Copyright © 2016 team six in school of softwareengineering Tongji University</p>
            </div>
        </div>
    </div>
</div>