<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/sematic/semantic.min.css"/>
    <script src="/jquery.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0-rc.2/angular.min.js"
              crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/sematic/semantic.min.js" crossorigin="anonymous"></script>
    <script src="/floatingNav.js"></script>

    <script src="/controllers/app.js"></script>
      <script src="/controllers/indexCtrl.js"></script>

  </head>
  <body class="pushable" ng-app="myApp" ng-controller="indexCtrl">

  <%include ./nav/navbar-floating.ejs%>

  <!-- Page Contents -->
  <div class="pusher">
      <div class="ui inverted vertical masthead center aligned segment">
          <%include nav/navbar-public.ejs%>
          <div class="ui text container">
              <br><br>
              <h1 class="ui inverted header">
                  FunData
              </h1>
              <h2>Play with your data!</h2>
              <br>
              <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
          </div>
      </div>
      <div>

      </div>

      <br><br>
      <%include footer.ejs%>
  </div>
</body>
  
</html>
