<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/sematic/semantic.min.css"/>
    <script src="/jquery.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0-rc.2/angular.min.js"
            crossorigin="anonymous"></script>
    <script src="/sematic/semantic.min.js" crossorigin="anonymous"></script>
    <script src="/floatingNav.js"></script>

    <script src="/ng-pagination/dist/directive.pagination.js"></script>
    <script src="/controllers/app.js"></script>
    <script src="/controllers/indexCtrl.js"></script>
    <script src="/services/info.service.js"></script>
    <script src="/services/const.service.js"></script>
    <script src="/services/auth.service.js"></script>
    <script src="/controllers/authCtrl.js"></script>
</head>
<body class="pushable" ng-app="myApp" ng-controller="authCtrl">
<div class="pusher" ng-controller="indexCtrl">
    <div ng-if="isLogin">
        <% include nav/navbar-floating.ejs%>
    </div>
    <div ng-if="!isLogin">
        <% include nav/navbar-floating-public.ejs %>
    </div>


    <div class="ui vertical masthead center aligned segment" style="background-image: url(/images/bg.jpg);">

        <div>
            <div ng-if="!isLogin">
                <% include nav/navbar-public.ejs %>
            </div>
            <div ng-if="isLogin">
                <% include nav/navbar-personal.ejs %>
            </div>
        </div>
        <div class="ui text container">
            <br><br><br><br><br><br>
            <h1 class="ui inverted header">
                FunData
            </h1>
            <h2>Let's play with your data!</h2>
            <br><br><br>
            <i class="down arrow icon"></i>
        </div>
    </div>

    <div class="ui stripe vertical segment">
        <div class="ui stackable very relaxed grid container">
            <div class="fourteen wide center aligned centered column">
                <h1 class="ui icon header"><img src="/images/dataset-logo.png" class="ui medium image"> Wonderful Dataset </h1>
                <p>A wonderful dataset can realize a wonderful dream. Let's share our data!</p>
                <p>Everyone can have his wonderful dataset!</p>
                <a class="ui large primary button" href="/dataset">Get Start <i class="right chevron icon"></i> </a>
            </div>
        </div>
    </div>

    <div class="ui stripe community vertical segment">
        <div class="ui two column center aligned divided very relaxed stackable grid container">
            <div class="row">
                <div class="column">
                    <h2 class="ui icon header"><img class="ui medium image" src="/images/competition-logo.png"> </h2>
                    <h2 class="ui header">Exciting data Competition</h2>
                    <p>Register a data competition and have a fight!</p>
                    <a class="ui large primary button" href="/competition">Fight!<i class="right chevron icon"></i></a>
                </div>
                <div class="column">
                    <h2 class="ui icon header"><img class="ui medium image" src="/images/mooc-logo.jpg" style="height: 300px"> </h2>
                    <h2 class="ui header">Learn with each other</h2>
                    <p>Teaching people tireless</p>
                    <a class="ui large primary button" href="/mooc">Study!<i class="right chevron icon"></i></a>
                </div>
            </div>
        </div>
    </div>

    </div>

    <% include footer.ejs %>
</div>

</body>

</html>
<script>
    $("body").css('height',$(window).height());

    function toCompetition() {
        window.location.href = "/competition";
    };

</script>