<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta charset="UTF-8">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/sematic/semantic.min.css"/>
  <script src="/jquery.js" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="/sematic/semantic.min.js" crossorigin="anonymous"></script>
  <script src="/floatingNav.js"></script>
</head>
<body class="pushable">

<% include nav/navbar-floating.ejs%>

<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

      <% include nav/navbar-public.ejs %>

    <div class="ui text container">
      <br><br>
      <h1 class="ui inverted header">
        FunData
      </h1>
      <h2>Let's play with your data!</h2>
      <br>
      <i class="down arrow icon"></i>
    </div>
  </div>

  <div class="ui stripe theming vertical segment">
    <div class="ui stackable very relaxed two column grid container">
      <div class="center aligned column">
        <h1 class="ui header"> Dataset </h1>
        <p>Description</p>
          <button class="ui positive button" onclick="toData()">Get Start<i class="ui right arrow icon"></i></button>
      </div>
      <div class="left aligned column">
        <img src="/images/dataset-logo.png" class="ui medium image">

      </div>
    </div>

  </div>

    <div class="ui stripe theming vertical segment">
        <div class="ui stackable very relaxed two column grid container">
            <div class="left aligned column">
                <img src="/images/competition-logo.png" class="ui medium image">
            </div>
            <div class="center aligned column">
                <h1 class="ui header"> Competitions </h1>
                <p>Description</p>
                <button class="ui positive button" onclick="toCompetition()">Get Start<i class="ui right arrow icon"></i></button>
            </div>
        </div>

    </div>

    <div class="ui stripe theming vertical segment">
        <div class="ui stackable very relaxed two column grid container">
            <div class="center aligned column">
                <h1 class="ui header"> Mooc </h1>
                <p>Description</p>
            </div>
            <div class="left aligned column">
                <img src="/images/mooc-logo.jpg" class="ui medium image">
                <button class="ui positive button" onclick="toMooc()">Get Start<i class="ui right arrow icon"></i></button>
            </div>
        </div>

    </div>

    <% include footer.ejs %>
</div>

</body>

</html>
<script>
    $("body").css('height',$(window).height());

    function toData() {
      window.location.href = "/dataset";
    };

    function toMooc() {
      window.location.href = "/mooc";
    };

    function toCompetition() {
      window.location.href = "/competition";
    };

</script>