<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/sematic/semantic.min.css"/>
    <script src="/jquery.js" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/sematic/semantic.min.js" crossorigin="anonymous"\></script>
      <script src="/floatingNav.js"></script>
  </head>
  <body>
    <% include ./nav/navbar-public.ejs %>
    <div class="btn-group">
      <input id="account" type="button" value="Create an account"/>
      <input id="host" type="button" value="Host a competition"/>
    </div>
    
  </body>
  
</html>
