<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/sematic/semantic.min.css"/>
    <script src="/jquery.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0-rc.2/angular.min.js"
            crossorigin="anonymous"></script>
    <script src="/sematic/semantic.min.js" crossorigin="anonymous"></script>
    <script src="/floatingNav.js"></script>
    <script src="/ng-pagination/dist/directive.pagination.js"></script>
    <script src="/controllers/app.js"></script>
    <script src="/services/const.service.js"></script>
    <script src="/services/auth.service.js"></script>
    <script src="/controllers/loginCtrl.js"></script>
</head>
<body class="pushable" ng-app="myApp" ng-controller="loginCtrl">

<% include ./nav/navbar-floating.ejs%>

<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">

        <!--<% include ./nav/navbar-public.ejs %>-->

        <div class="ui text container">
            <br><br>
            <h1 class="ui inverted header">
                Login in
            </h1>
            <h2>Let's start a fantastic trip!</h2>
            <br>
            <i class="down arrow icon"></i>
            <br>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <br><br>
        <div class="ui middle aligned center aligned grid">
            <div class="row">
                <div class="six wide column">
                    <form class="ui large form" id="form">
                        <div class="ui stacked segment">
                            <div class="field" id="email">
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" name="email" placeholder="E-mail address" ng-model="email" ng-focus="removeError()">
                                </div>
                            </div>
                            <div class="field" id="password">
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input type="password" name="password" placeholder="Password" ng-model="pwd" ng-focus="removeError()">
                                </div>
                            </div>
                            <div class="ui negative message" ng-if="error">
                                <div class="header">Error</div>
                                <p>No such id or wrong password!</p>
                            </div>
                            <button class="ui fluid large blue submit button" ng-click="login(email, pwd)">Login</button>
                        </div>

                    </form>

                    <div class="ui message">
                        New to us? <a href="/register">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
    </div>
    <%include footer.ejs%>
</div>

</body>

</html>
<script>
    $("body").css('height',$(window).height());
    function errorDemo() {
        $("#form").addClass("error");
        $("#email").addClass("error");
        $("#password").addClass("error");
    };
</script>