<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/sematic/semantic.min.css"/>
    <script src="/jquery.js" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/sematic/semantic.min.js" crossorigin="anonymous"\></script>
    <script src="/floatingNav.js"></script>
</head>
<body class="pushable">

<% include ./nav/navbar-floating.ejs%>

<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">

        <% include ./nav/navbar-personal.ejs %>

        <div class="ui text container">
            <br><br>
            <h1 class="ui inverted header">
                Login in
            </h1>
            <h2>Let's start a fantastic trip!</h2>
            <br>
            <i class="down arrow icon"></i>
            <br>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <br><br>
        <div class="ui middle aligned center aligned grid">
            <div class="row">
                <div class="six wide column">
                    <form class="ui large form" action="" method="post">
                        <div class="ui stacked segment">
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" name="email" placeholder="E-mail address">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input type="password" name="password" placeholder="Password">
                                </div>
                            </div>
                            <button class="ui fluid large blue submit button" type="submit">Login</button>
                        </div>

                        <div class="ui error message"></div>

                    </form>

                    <div class="ui message">
                        New to us? <a href="/signUp">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
    </div>
    <%include footer.ejs%>
</div>

</body>

</html>
<script>
    $("body").css('height',$(window).height());
</script>