<!DOCTYPE html>
<html>
<head>
    <title>test</title>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/sematic/semantic.min.css"/>
    <script src="/jquery.js" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/sematic/semantic.min.js" crossorigin="anonymous"\></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0-rc.2/angular.min.js"
            crossorigin="anonymous"></script>
    <script src="/floatingNav.js"></script>

    <script src="/ng-pagination/dist/directive.pagination.js"></script>
    <script src="/controllers/app.js"></script>
    <script src="/controllers/otherfileCtrl.js"></script>
    <script src="/services/info.service.js"></script>
    <script src="/services/const.service.js"></script>
    <script src="/services/auth.service.js"></script>
    <script src="/controllers/authCtrl.js"></script>

</head>
<body class="pushable" ng-app="myApp" ng-controller="authCtrl">
<div class="transition hidden" id="username"><%= username %></div>

<div class="pusher" ng-controller="otherCtrl">
    <div ng-if="isLogin">
        <% include nav/navbar-floating.ejs%>
    </div>
    <div ng-if="!isLogin">
        <% include nav/navbar-floating-public.ejs %>
    </div>
    <div class="ui vertical masthead center aligned segment" style="background-image: url(/images/bg2.jpg);">
        <div>
            <div ng-if="!isLogin">
                <% include nav/navbar-public.ejs %>
            </div>
            <div ng-if="isLogin">
                <% include nav/navbar-personal.ejs %>
            </div>
        </div>
        <div class="ui text container">
            <br><br><br><br><br>
            <h1 class="ui inverted header">
                Basic Profile
            </h1>
            <h2><%= username %></h2>
            <br><br><br>
            <i class="down arrow icon"></i>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui aligned stackable grid container">
            <div class="row">
                <!--头像卡片-->
                <div class="six wide column">
                    <div class="ui cards">
                        <div class="card">
                            <div class="blurring image">
                                <img src="{{user.head_href}}">
                            </div>
                            <div class="content">
                                <div class="header">{{user.user_name}}</div>
                                <div class="meta">
                                    <a>{{user.user_email}}</a>
                                </div>
                            </div>
                            <div class="extra content">
                                <span class="right floated">Joined in 2016 </span>
                                <span><i class="user icon"></i> No.{{user.user_id}} </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--右侧信息-->
                <div class="ten wide right floated column">
                    <h2 class="ui header">
                        <i class="user icon"></i>
                        <div class="content">Basic Information </div>
                    </h2>
                    <br>
                    <div class="ui styled fluid accordion" id="accordion">
                        <div class="title"><i class="dropdown icon"></i> DataSet </div>
                        <div class="content">
                            <!--把ta的数据集打表打出来-->
                            <div class="ui cards">
                                <div class="card" ng-repeat="dataset in datasets">
                                    <div class="content">
                                        <div class="header">{{dataset.datasetname}}</div>
                                        <div class="meta">{{dataset.size}} pull request </div>
                                        <div class="description">{{dataset.description}} </div>
                                    </div>
                                    <div class="extra content">
                                        <div class="ui basic green button" ng-click="datasetToDetail(dataset.datasetname)">More</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="title"><i class="dropdown icon"></i>Competition </div>
                        <div class="content">
                            <div class="ui cards">
                                <div class="card" ng-repeat="com in competitions">
                                    <div class="content">
                                        <div class="header">{{com.com_name}}</div>
                                        <br>
                                        <div class="meta" ng-if="!com.com_active_flag">
                                            <div class="ui label grey">
                                                <i class="remove icon"></i>
                                                shut down</div>
                                        </div>
                                        <div class="meta" ng-if="com.com_active_flag">
                                            <div class="ui label green">
                                                <i class="checkmark icon"></i>
                                                active</div>
                                        </div>
                                        <div class="description">{{com.com_des}} </div>
                                    </div>
                                    <div class="extra content">
                                        <div class="ui basic green button" ng-click="comToDetail(com)">More</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="title"><i class="dropdown icon"></i>Mooc </div>
                        <div class="content">
                            <!--把ta的课打表打出来-->
                            <div class="ui cards">
                                <div class="card" ng-repeat="course in courses">
                                    <div class="content">
                                        <div class="header">{{course.name}} </div>
                                        <div class="author">{{course.hoster}} </div>
                                        <div class="description">{{course.description}} </div>
                                    </div>
                                    <div class="extra content">
                                        <div class="ui three buttons">
                                            <div class="ui basic green button" ng-click="moocToDetail(course)">More</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include footer.ejs%>

</div>


</body>

<script>

    var datasetName;
    var competitionName;
    var moocName;

    function datasetToDetail(name) {
        window.location.href = "/dataset/" + name + "/detail";
    };

    function moocToDetail(name) {
        window.location.href = "/mooc/" + name + "/detail";
    };

    function follow() {
        if ($('#follow').text() == 'follow')
            $('#follow').text('unfollow');
        else
            $('#follow').text('follow');
    };

</script>

</html>
