<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/sematic/semantic.min.css"/>
    <script src="/jquery.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0-rc.2/angular.min.js"
            crossorigin="anonymous"></script>
    <script src="/sematic/semantic.min.js" crossorigin="anonymous"\></script>
    <script src="/floatingNav.js"></script>

    <script src="/ng-pagination/dist/directive.pagination.js"></script>
    <script src="/controllers/app.js"></script>
    <script src="/services/const.service.js"></script>
    <script src="/services/info.service.js"></script>
    <script src="/services/auth.service.js"></script>
    <script src="/controllers/registerCtrl.js"></script>
    <script src="/controllers/authCtrl.js"></script>

</head>
<body class="pushable" ng-app="myApp" ng-controller="authCtrl">


<div class="pusher" ng-controller="registerCtrl">
    <div ng-if="isLogin">
        <% include nav/navbar-floating.ejs%>
    </div>
    <div ng-if="!isLogin">
        <% include nav/navbar-floating-public.ejs %>
    </div>
    <div class="ui vertical masthead center aligned segment" style="background-image: url(/images/bg4.jpg);">
        <div>
            <div ng-if="!isLogin">
                <% include nav/navbar-public.ejs %>
            </div>
            <div ng-if="isLogin">
                <% include nav/navbar-personal.ejs %>
            </div>
        </div>

        <div class="ui text container">
            <br><br><br><br><br>
            <h1 class="ui inverted header">
                Sign up
            </h1>
            <h2>Join us!</h2>
            <br>
            <i class="down arrow icon"></i>
            <br><br><br>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <br><br>
        <div class="ui middle aligned center aligned grid">
            <div class="row">
                <div class="six wide column">
                    <form class="ui large form" id="form">
                        <div class="ui stacked segment">
                            <div class="field" id="name">
                                <label>Last Name</label>
                                <div class="ui left icon input">
                                    <i class="child icon"></i>
                                    <input placeholder="Name" type="text" ng-model="name">
                                </div>
                            </div>
                            <div class="field" id="email">
                                <label>E-mail</label>
                                <div class="ui left icon input">
                                    <i class="mail icon"></i>
                                    <input type="email" placeholder="email" ng-model="email">
                                </div>
                            </div>
                            <div class="two fields" id="passwords">
                                <div class="field" id="password">
                                    <label>Password</label>
                                    <div class="ui left icon input">
                                        <i class="lock icon"></i>
                                        <input placeholder="Password" type="password" ng-model="pwd" ng-focus="removeError()">
                                    </div>
                                </div>
                                <div class="field" id="re-password">
                                    <label>Repeat</label>
                                    <div class="ui left icon input">
                                        <i class="lock icon"></i>
                                        <input placeholder="Password" type="password" ng-model="repwd" ng-focus="removeError()">
                                    </div>
                                </div>
                            </div>
                            <div class="ui error message" ng-if="error">
                                <div class="header">Error</div>
                                <p>Two passwords don't match!</p>
                            </div>
                            <button class="ui fluid large green submit button" ng-click="signUp(email, pwd, repwd, name)">Sign up</button>
                        </div>
                    </form>
                    <div class="ui message">
                        I have a acount <a href="/login">Sign In</a>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
    </div>
    <%include footer.ejs%>
</div>

</body>

</html>
<script>
    $("body").css('height',$(window).height());

    function errorDemo() {
        // 输出两次密码不一样
        $("#form").addClass("error");

        // first name有问题
        $("#first-name").addClass("error");

        // last name有问题
        $("#last-name").addClass("error");

        // email有问题
        $("#email").addClass("error");

        // password有问题
        $("#password").addClass("error");

        // re-password有问题
        $("#re-password").addClass("error");
    };
</script>