<div class="ui container">
    <div class="ui large secondary inverted pointing menu">
        <a class="header item" href="/">FunData</a>
        <a class="item" href="/dataset">DataSets</a>
        <a class="item" href="/competition">Competitons</a>
        <a class="item" href="/mooc">Moocs</a>
        <div class="right menu">
            <div class="item">
                <div class="ui fluid category search">
                    <div class="ui transparent inverted icon input">
                        <i class="search icon"></i>
                        <input type="text" placeholder="Search" class="prompt">
                    </div>
                    <div class="results"></div>
                </div>
            </div>
            <div class="ui dropdown item" tabindex="0" id="mainDropdown">
                <i class="user icon"></i>
                {{username}}
                <div class="menu transition hidden" tabindex="-1">
                    <a class="item" ng-href="/mycenter/profile/{{name}}">Profile</a>
                    <a class="item" ng-href="/mycenter/information">Information</a>
                    <a class="item" ng-href="/mycenter/friends">Friends</a>
                    <a class="divider"></a>
                    <a class="item" ng-click="logout()">Log out</a>
                </div>
            </div>
        </div>
    </div>
</div>
