<div class="ui large top fixed menu transition hidden">
    <div class="ui container">
        <a class="header item" href="/">FunData</a>
        <a class="item" href="/dataset">DataSets</a>
        <a class="item" href="/competition">Competitons</a>
        <a class="item" href="/mooc">Moocs</a>
        <div class="right menu">
            <a class="ui basic black button" href="/login">Log in</a>&nbsp&nbsp&nbsp&nbsp
            <a class="ui basic black button" href="/register">Sign Up</a>
        </div>
    </div>
</div>