<div class="ui large top fixed menu transition hidden">
    <div class="ui container">
        <a class="header item" href="/">FunData</a>
        <a class="item" href="/dataset">DataSets</a>
        <a class="item">Competitons</a>
        <a class="item">Moocs</a>
    </div>
</div>