<div class="ui container">
    <div class="ui large inverted secondary network menu">
        <a class="header item" href="/">FunData</a>
        <a class="item" href="dataset">DataSets</a>
        <a class="item" href="/competition">Competitons</a>
        <a class="item" href="mooc">Moocs</a>
        <div class="right item">
            <a class="ui inverted button" href="/login">Log in</a>&nbsp&nbsp&nbsp&nbsp
            <a class="ui inverted button" href="/register">Sign Up</a>
        </div>
    </div>
</div>
