<div class="ui container">
    <div class="ui large secondary inverted pointing menu">
        <a class="header item" href="/">FunData</a>
        <a class="item" href="/dataset">DataSets</a>
        <a class="item">Competitons</a>
        <a class="item">Moocs</a>
        <div class="right menu">
            <div class="item">
                <div class="ui transparent inverted icon input">
                    <i class="search icon"></i>
                    <input type="text" placeholder="Search">
                </div>
            </div>
            <div class="ui dropdown item" tabindex="0" id="mainDropdown">
                <i class="user icon"></i>
                <div class="menu transition hidden" tabindex="-1">
                    <a class="item" href="/mycenter/profile">Profile</a>
                    <a class="item" href="/mycenter/information">Information</a>
                    <a class="divider"></a>
                    <a class="item">Log out</a>
                </div>
            </div>
        </div>
    </div>
</div>
