<div class="ui orange message"><i class="star icon"></i>You have 2 friends!</div>
<div class="ui items">
    <div class="item" id="f1">
        <div class="ui tiny image">
            <img src="/images/wudi.jpg">
        </div>
        <div class="content">
            <a class="header" href="/other/name">name</a>
            <div class="meta">
                <span>Description</span>
            </div>
            <div class="description">
                <p></p>
            </div>
            <br>
            <div class="ui buttons">
                <button class="ui red button" onclick="unfollow('f1')">Unfollow</button>
            </div>
        </div>
    </div>
    <div class="item" id="f2">
        <div class="ui tiny image">
            <img src="/images/wudi.jpg">
        </div>
        <div class="content">
            <a class="header" href="/other/name">name</a>
            <div class="meta">
                <span>Description</span>
            </div>
            <div class="description">
                <p></p>
            </div>
            <br>
            <div class="ui buttons">
                <button class="ui red button" onclick="unfollow('f2')">Unfollow</button>
            </div>
        </div>
    </div>
</div>