<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/sematic/semantic.min.css"/>
    <script src="/jquery.js" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/sematic/semantic.min.js" crossorigin="anonymous"\></script>
    <script src="/floatingNav.js"></script>
    <script src="/floatingNav.js"></script>

</head>
<body class="pushable">

<% include ../nav/navbar-floating.ejs%>

<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
        <% include ../nav/navbar-personal.ejs %>

        <div class="ui text container">
            <br><br>
            <h1 class="ui inverted header">
                Friends
            </h1>
            <h2>True friendship lasts forever</h2>
            <br>
            <i class="down arrow icon"></i>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui aligned stackable grid container">
            <div class="centered row">
                <!--好友列表-->
                <div class="ten wide column">
                    <% include friends-list.ejs %>
                </div>
            </div>
        </div>
    </div>

    <% include ../footer.ejs %>
</div>

<% include profile-popupwindow.ejs %>

</body>

<script>
    function unfollow(id) {
        $('#' + id).transition('vertical flip');
        setTimeout(function () {
            $('#' + id).remove();
        }, 1000);
    };
</script>

</html>
