<div class="ui tab segment" data-tab="second">
    <div class="ui styled fluid accordion" id="accordion">
        <div ng-repeat="dataset in mydataset">
            <div class="title"><i class="dropdown icon"></i>{{dataset.datasetname}}</div>
            <div class="content">
                <div class="ui comments">
                    <div class="comment" ng-repeat="comment in dataset.comments">
                        <div class="content">
                            <a class="author">{{comment.username}}</a>
                            <div class="metadata">
                                <span class="date">{{comment.updatetime}}</span>
                            </div>
                            <div class="text"> {{comment.content}}</div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>