<div class="ui tab segment" data-tab="third">
    <div class="ui styled fluid accordion" id="accordion">
        <div class="title active"><i class="dropdown icon"></i> Mooc 1</div>
        <div class="content active">
            <div class="ui comments">
                <div class="comment">
                    <a class="avatar">
                        <img src="/images/wudi.jpg">
                    </a>
                    <div class="content">
                        <a class="author">Matt</a>
                        <div class="metadata">
                            <span class="date">Today at 5:42PM</span>
                        </div>
                        <div class="text">How artistic! </div>
                    </div>
                </div>
                <div class="comment">
                    <a class="avatar">
                        <img src="/images/wudi.jpg">
                    </a>
                    <div class="content">
                        <a class="author">Elliot Fu</a>
                        <div class="metadata">
                            <span class="date">Yesterday at 12:30AM</span>
                        </div>
                        <div class="text">
                            <p>This has been very useful for my research. Thanks as well!</p>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <a class="avatar">
                        <img src="/images/wudi.jpg">
                    </a>
                    <div class="content">
                        <a class="author">Joe Henderson</a>
                        <div class="metadata">
                            <span class="date">5 days ago</span>
                        </div>
                        <div class="text">Dude, this is awesome. Thanks so much </div>
                    </div>
                </div>
            </div>
            <button class="ui green button">Detail</button>
        </div>
        <div class="title"><i class="dropdown icon"></i> Mooc 2 </div>
        <div class="content">
            <div class="ui comments">
                <div class="comment">
                    <a class="avatar">
                        <img src="/images/wudi.jpg">
                    </a>
                    <div class="content">
                        <a class="author">Matt</a>
                        <div class="metadata">
                            <span class="date">Today at 5:42PM</span>
                        </div>
                        <div class="text">How artistic! </div>
                    </div>
                </div>
                <div class="comment">
                    <a class="avatar">
                        <img src="/images/wudi.jpg">
                    </a>
                    <div class="content">
                        <a class="author">Elliot Fu</a>
                        <div class="metadata">
                            <span class="date">Yesterday at 12:30AM</span>
                        </div>
                        <div class="text">
                            <p>This has been very useful for my research. Thanks as well!</p>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <a class="avatar">
                        <img src="/images/wudi.jpg">
                    </a>
                    <div class="content">
                        <a class="author">Joe Henderson</a>
                        <div class="metadata">
                            <span class="date">5 days ago</span>
                        </div>
                        <div class="text">Dude, this is awesome. Thanks so much </div>
                    </div>
                </div>
            </div>
            <button class="ui green button">Detail</button>
        </div>
        <div class="title"><i class="dropdown icon"></i> Mooc 3 </div>
        <div class="content">
            <div class="ui comments">
                <div class="comment">
                    <a class="avatar">
                        <img src="/images/wudi.jpg">
                    </a>
                    <div class="content">
                        <a class="author">Matt</a>
                        <div class="metadata">
                            <span class="date">Today at 5:42PM</span>
                        </div>
                        <div class="text">How artistic! </div>
                    </div>
                </div>
                <div class="comment">
                    <a class="avatar">
                        <img src="/images/wudi.jpg">
                    </a>
                    <div class="content">
                        <a class="author">Elliot Fu</a>
                        <div class="metadata">
                            <span class="date">Yesterday at 12:30AM</span>
                        </div>
                        <div class="text">
                            <p>This has been very useful for my research. Thanks as well!</p>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <a class="avatar">
                        <img src="/images/wudi.jpg">
                    </a>
                    <div class="content">
                        <a class="author">Joe Henderson</a>
                        <div class="metadata">
                            <span class="date">5 days ago</span>
                        </div>
                        <div class="text">Dude, this is awesome. Thanks so much </div>
                    </div>
                </div>
                <button class="ui green button">Detail</button>
            </div>
        </div>
    </div>
</div>