<div class="ui tab segment" data-tab="four">
    <div class="ui styled fluid accordion" id="accordion">
        <div ng-repeat="com in mycompetition">
            <div class="title"><i class="dropdown icon"></i>{{com.com_name}}</div>
            <div class="content">
                <div class="ui comments">
                    <div class="comment" ng-repeat="comment in com.comments">
                        <a class="avatar">
                            <img src="{{comment.head-url}}">
                        </a>
                        <div class="content">
                            <a class="author">{{comment.com_owner_name}}</a>
                            <div class="metadata">
                                <span class="date">{{comment.time}}</span>
                            </div>
                            <div class="text">{{comment.content}} </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>