<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/sematic/semantic.min.css"/>
    <script src="/jquery.js" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/sematic/semantic.min.js" crossorigin="anonymous"\></script>
    <script src="/floatingNav.js"></script>
    <script src="/floatingNav.js"></script>

</head>
<body class="pushable">

<% include ../nav/navbar-floating.ejs%>

<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
        <% include ../nav/navbar-personal.ejs %>

        <div class="ui text container">
            <br><br>
            <h1 class="ui inverted header">
                Hello
            </h1>
            <h2>Luo  &nbsp;&nbsp; Xue</h2>
            <br>
            <i class="down arrow icon"></i>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui aligned stackable grid container">
            <div class="row">
                <!--头像卡片-->
                <div class="six wide column">
                    <div class="ui special cards">
                        <div class="card">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <div class="ui inverted button">Change image</div>
                                        </div>
                                    </div>
                                </div>
                                <img src="/images/wudi.jpg">
                            </div>
                            <div class="content">
                                <div class="header">Name</div>
                                <div class="meta">
                                    <a>Level</a>
                                </div>
                                <div class="description">description </div>
                            </div>
                            <div class="extra content">
                                <span class="right floated">Joined in 2013 </span>
                                <span><i class="user icon"></i> 75 Friends </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--右侧信息-->
                <div class="ten wide right floated column">
                    <br>
                    <br>
                    <h2 class="ui header">
                        <i class="user icon"></i>
                        <div class="content">My Basic Information </div>
                    </h2>
                    <br>
                    <div class="ui styled fluid accordion" id="accordion">
                        <div class="title"><i class="dropdown icon"></i> My DataSet </div>
                        <div class="content">
                            <!--把我的数据集打表打出来-->
                            <% include profile-mydataset.ejs%>
                        </div>
                        <div class="title"><i class="dropdown icon"></i> My Competition </div>
                        <div class="content">
                            <p>My Competition</p>
                        </div>
                        <div class="title"><i class="dropdown icon"></i> My Mooc </div>
                        <div class="content">
                            <p>My Mooc</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include ../footer.ejs %>
</div>


<!--用于admin做最后的确定-->
<div class="ui basic modal" id="confirmDelete">
    <i class="close icon"></i>
    <div class="header">
        Warning!
    </div>
    <div class="image content">
        <div class="description">
            <p>Are you sure to delete this dataset?</p>
        </div>
    </div>
    <div class="actions">
        <div class="two fluid ui inverted buttons">
            <div class="ui cancel red basic inverted button">
                <i class="remove icon"></i>
                No
            </div>
            <div class="ui ok green basic inverted button">
                <i class="checkmark icon" onclick="toDetail('name')"></i>
                Yes
            </div>
        </div>
    </div>
</div>

</body>

<script>

    var name;

    function toDetail(name) {
        window.location.href = "/dataset/" + name + "/detail";
    };

    function showWarning(datasetName){
        name = datasetName;
        $('#confirmDelete').modal('show');
    };
</script>

</html>
