<div class="ui special cards">
    <div class="card">
        <div class="blurring dimmable image">
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <div class="ui inverted button" onclick="changeImg()">Change image</div>
                    </div>
                </div>
            </div>
            <img src="{{myprofile.head_href}}">
        </div>
        <div class="content">
            <a class="ui orange right ribbon label" ng-click="showEdit()"><i class="write icon"></i>change password</a>
            <div class="header">{{myprofile.user_name}}</div>
            <div class="meta">
                <a>{{myprofile.user_email}}</a>
            </div>
        </div>
        <div class="extra content">
            <span class="right floated">Joined in 2016 </span>
            <span><i class="user icon"></i> No.{{myprofile.user_id}} </span>
        </div>
    </div>
</div>