<div class="ui cards">
    <div class="card" ng-repeat="dataset in myDatasets">
        <div class="content">
            <div class="header">{{dataset.datasetname}}</div>
            <div class="meta">Friends of Veronika </div>
            <div class="description">Elliot requested permission to view your contact details </div>
        </div>
        <div class="extra content">
            <div class="ui three buttons">
                <div class="ui basic green button" onclick="datasetToDetail('<%=title%>')">More</div>
                <div class="ui basic blue button" onclick="datasetToManage('<%=title%>')">Manage</div>
                <div class="ui basic red button" onclick="datasetShowWarning('<%=title%>')">Delete</div>
            </div>
        </div>
    </div>

</div>


