<div class="ui cards">
    <div class="card" ng-repeat="course in myCourses">
        <div class="content">
            <div class="header">{{course.name}} </div>
            <div class="author">{{course.hoster}} </div>
            <div class="description">{{course.description}} </div>
        </div>
        <div class="extra content">
            <div class="ui three buttons">
                <div class="ui basic green button" ng-click="moocToDetail(course)">More</div>
                <div class="ui basic blue button" ng-click="moocManager(course)">Manager</div>
                <div class="ui basic red button" ng-click="moocShowWarning(course, $index)">Delete</div>
            </div>
        </div>
    </div>
</div>