<div class="ui cards">
    <div class="card" ng-repeat="com in myCompetitions">
        <div class="content">
            <div class="header">{{com.com_name}}</div>
            <br>
            <div class="meta" ng-if="!com.com_active_flag">
                <div class="ui label grey">
                    <i class="remove icon"></i>
                    shut down</div>
            </div>
            <div class="meta" ng-if="com.com_active_flag">
                <div class="ui label green">
                    <i class="checkmark icon"></i>
                    active</div>
            </div>
            <div class="description">{{com.com_des}} </div>
        </div>
        <div class="extra content">
            <div class="ui three buttons">
                <div class="ui basic green button" ng-click="comToDetail(com)">More</div>
                <div class="ui basic blue button" ng-click="comToManage(com)">Manage</div>
                <div class="ui basic red button" ng-click="comShowWarning(com)">Delete</div>
            </div>
        </div>
    </div>
</div>

