<div class="ui cards">
    <div class="card" ng-repeat="dataset in myDatasets">
        <div class="content">
            <div class="header">{{dataset.datasetname}}</div>
            <div class="meta">{{dataset.size}} pull request </div>
            <div class="description">{{dataset.description}} </div>
        </div>
        <div class="extra content">
            <div class="ui three buttons">

                <div class="ui basic green button" ng-click="datasetToDetail(dataset.datasetname)">More</div>
                <div class="ui basic blue button" ng-click="datasetToManage(dataset.datasetname)">Manage</div>
                <div class="ui basic red button" ng-click="datasetShowWarning(dataset.datasetname)">Delete</div>

            </div>
        </div>
    </div>

</div>


