<div class="ui special cards">
    <div class="card">
        <div class="blurring dimmable image">
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <div class="ui inverted button" onclick="changeImg()">Change image</div>
                    </div>
                </div>
            </div>
            <img src="/images/xiaowang.jpg">
        </div>
        <div class="content">
            <div class="header">Name</div>
            <div class="meta">
                <a>email</a>
            </div>
            <div class="description">description </div>
        </div>
        <div class="extra content">
            <span class="right floated">Joined in 2013 </span>
            <span><i class="user icon"></i> 75 Friends </span>
        </div>
    </div>
</div>