<div class="ui attached tab active" data-tab="overview">
    <div class="ui text main container">
    <h1 class="ui header">Overview</h1>
        <div id="overview-content">

        </div>
        <button class="ui green button" id="joinBtn" onclick="joinDeal()">Join!</button>
    </div>
</div>