<div class="ui attached tab active" data-tab="overview-edit">
    <div class="ui text main container">
        <h1 class="ui header">Overview</h1>
    </div>
    <div class="ui text main container" id="over-container">
        <div id="overview-content">

        </div>
    </div>
    <br>
    <div class="ui text container">
        <button class="ui green button" id="over-edit-btn" ng-click="overEditDeal()">Edit!</button>
        <br>
        <form class="ui form transition hidden" id="over-edit-form">
            <div class="field">
                <label>New Overview</label>
                <textarea id="over-edit-content" ng-model="overview"></textarea>
            </div>
            <div class="ui blue labeled submit icon button" ng-click="overSubmit(overview)"><i class="icon edit"></i> submit </div>
        </form>
    </div>
</div>