<div class="ui attached tab" data-tab="comments">
    <div class="ui text container">
        <h1 class="ui header">Q & A</h1>

        <h2 class="ui header">Answered</h2>
        <div class="ui comments">
            <div class="comment">
                <div class="content">
                    <a class="author">SSE</a>
                    <div class="metadata">
                        <div class="date">time</div>
                    </div>
                    <div class="text">Why you love me? </div>
                </div>
                <div class="ui comments">
                    <div class="comment">
                        <div class="content">
                            <a class="author">Teacher</a>
                            <div class="metadata">
                                <div class="data">time</div>
                            </div>
                            <div class="text">Yes</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment">
                <div class="content">
                    <a class="author">SSE</a>
                    <div class="metadata">
                        <div class="date">time</div>
                    </div>
                    <div class="text">Why you love me? </div>
                </div>
                <div class="ui comments">
                    <div class="comment">
                        <div class="content">
                            <a class="author">Teacher</a>
                            <div class="metadata">
                                <div class="data">time</div>
                            </div>
                            <div class="text">No</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="ui header">Qestions</h2>
        <div class="ui comments">
            <div class="comment">
                <div class="content">
                    <a class="author">SSE</a>
                    <div class="metadata">
                        <div class="date">time</div>
                    </div>
                    <div class="text">Why you love me? </div>
                    <div class="actions">
                        <a class="reply active" onclick="showA('q1')">Reply</a>
                    </div>
                    <form class="ui reply form transition hidden" id="q1">
                        <div class="field">
                            <textarea></textarea>
                        </div>
                        <div class="ui primary submit labeled icon button"><i class="icon edit"></i> Submit Answer </div>
                    </form>
                </div>
            </div>
            <div class="comment">
                <div class="content">
                    <a class="author">SSE</a>
                    <div class="metadata">
                        <div class="date">time</div>
                    </div>
                    <div class="text">Why you love me? </div>
                    <div class="actions">
                        <a class="reply active" onclick="showA('q2')">Reply</a>
                    </div>
                    <form class="ui reply form transition hidden" id="q2">
                        <div class="field">
                            <textarea></textarea>
                        </div>
                        <div class="ui primary submit labeled icon button"><i class="icon edit"></i> Submit Answer </div>
                    </form>
                </div>
            </div>
        </div>

        <h2 class="ui header">Add Question</h2>

        <div class="ui comments">
            <div class="comment">
                <div class="content">
                    <a class="author">Luo Xue</a>
                    <div class="metadata">
                        <div class="date">time</div>
                    </div>
                    <form class="ui reply form">
                        <div class="field">
                            <textarea></textarea>
                        </div>
                        <div class="ui primary submit labeled icon button"><i class="icon edit"></i> Add Question </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

