<div class="ui attached tab" data-tab="comments">
        <h1 class="ui header">Q & A</h1>

        <h2 class="ui header">Answered</h2>
        <div class="ui comments">
            <div class="comment" ng-repeat="item in answered">
                <!--<a class="avatar">-->
                    <!--<img src="{{item.question.head_href}}">-->
                <!--</a>-->
                <div class="content">
                    <a class="author" href="{{item.question.question_owner_id}}">{{item.question.question_owner_name}}</a>
                    <div class="metadata">
                        <div class="date">{{item.question.question_createtime}}</div>
                    </div>
                    <div class="text">{{item.question.question_content}}</div>
                </div>
                <div class="ui comments">
                    <div class="comment" ng-repeat="ans in item.answer">
                        <a class="avatar">
                            <img src="{{ans.head_href}}">
                        </a>
                        <div class="content">
                            <a class="author" href="{{ans.answer_owner_id}}">{{ans.answer_owner_id}}</a>
                            <div class="metadata">
                                <div class="data">{{ans.answer_time}}</div>
                            </div>
                            <div class="text">{{ans.answer_content}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="ui header">Qestions</h2>
        <div class="ui comments">
            <div class="comment" ng-repeat="item in unanswered">
                <!--<a class="avatar">-->
                    <!--<img src="http://semantic-ui.com/images/avatar/small/matt.jpg">-->
                <!--</a>-->
                <div class="content">
                    <a class="author" href="{{item.question.question_owner_id}}">{{item.question.question_owner_name}}</a>
                    <div class="metadata">
                        <div class="date">{{item.question.question_createtime}}</div>
                    </div>
                    <div class="text">{{item.question.question_content}}</div>
                    <div class="actions" ng-if="isLogin">
                        <a class="reply active" ng-click="showA(item.question)">Reply</a>
                    </div>
                    <form class="ui reply form transition hidden" ng-if="isLogin" id={{item.question.question_id}}>
                        <div class="field">
                            <textarea id="{{ $index + '-answer' }}"></textarea>
                        </div>
                        <div class="ui primary submit labeled icon button" ng-click="addAnswer(item, $index)"><i class="icon edit"></i> Submit Answer </div>
                    </form>
                </div>
            </div>
        </div>
        <div ng-if="isLogin">
            <h2 class="ui header">Add Question</h2>
            <div class="ui comments">
                <div class="comment">
                    <div class="content">
                        <a class="author">{{username}}</a>
                        <form class="ui reply form" ng-if="isLogin">
                            <div class="field">
                                <textarea id="new-question"></textarea>
                            </div>
                            <div class="ui primary submit labeled icon button" ng-click="addQuestion()"><i class="icon edit"></i> Add Question </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>

