<div class="ui attached tab" ng-repeat="step in steps" id={{step.step_header}}>
    <div class="ui main text container">
        <h1 class="ui header">{{step.step_header}}</h1>
    </div>
    <div class="ui text container" id="{{$index}}-content">
        <div id='{{$index}}'>

        </div>
    </div>
    <br>
    <div class="ui text container">
        <button class="ui green button" id="1-edit-btn" ng-click="stepEditDeal(step, $index)">Edit!</button>
        <br>
        <form class="ui form transition hidden" id="{{$index}}-edit-form">
            <div class="field">
                <label>New One</label>
                <textarea id="{{$index}}-edit-content"></textarea>
            </div>
            <div class="ui blue labeled submit icon button" ng-click="stepSubmit(step, $index)"><i class="icon edit"></i> submit </div>
        </form>
    </div>
    <div class="ui text container">
        <h2 class="ui header">Guide</h2>
        <div class="ui special images">
            <div class="blurring dimmable image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui inverted button" onclick="changeGuide('1')">Change Guide</div>
                        </div>
                    </div>
                </div>
                <img  src="/images/xiaowang.jpg" class="ui big centered image">
            </div>
        </div>
    </div>
</div>
