<div class="ui attached tab" data-tab="comments">
    <div class="ui text container">
        <h1 class="ui header">Q & A</h1>

        <h2 class="ui header">Answered</h2>
        <div class="ui comments">
            <div class="comment" ng-repeat="item in answered">
                <div class="content">
                    <a class="author">{{item.question.question_owner_name}}</a>
                    <div class="metadata">
                        <div class="date">{{item.question.question_time}}</div>
                    </div>
                    <div class="text">{{item.question.question_content}}</div>
                </div>
                <div class="ui comments">
                    <div class="comment">
                        <div class="content">
                            <a class="author">{{item.answer.answer_owner_name}}</a>
                            <div class="metadata">
                                <div class="data">{{item.answer.answer_time}}</div>
                            </div>
                            <div class="text">{{item.answer.answer_content}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="ui header">Qestions</h2>
        <div class="ui comments">
            <div class="comment" ng-repeat="item in unanswered">
                <div class="content">
                    <a class="author">{{item.question_owner_name}}</a>
                    <div class="metadata">
                        <div class="date">{{item.question_time}}</div>
                    </div>
                    <div class="text">{{item.question_content}}</div>

                    <div class="actions" ng-if="user.user_flag == 1">
                        <a class="reply active" ng-click="showA(item)">Reply</a>
                    </div>

                    <form class="ui reply form transition hidden" id={{item.question_id}}>
                        <div class="field">
                            <textarea id="{{ $index + '-answer' }}"></textarea>
                        </div>
                        <div class="ui primary submit labeled icon button" ng-click="addAnswer(item, $index)"><i class="icon edit"></i> Submit Answer </div>
                    </form>
                </div>
            </div>
        </div>

        <div ng-if="user.user_flag == 0">
            <h2 class="ui header">Add Question</h2>

            <div class="ui comments">
                <div class="comment">
                    <div class="content">
                        <a class="author">Luo Xue</a>
                        <div class="metadata">
                            <div class="date">time</div>
                        </div>
                        <form class="ui reply form">
                            <div class="field">
                                <textarea id="new-question"></textarea>
                            </div>
                            <div class="ui primary submit labeled icon button" ng-click="addQuestion()"><i class="icon edit"></i> Add Question </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

