<!--用于确认加入了课程-->
<div class="ui small modal" id="welcome">
    <i class="close icon"></i>
    <div class="header">Welcome</div>
    <div class="content">
        <p>Join successfully!</p>
    </div>
    <div class="actions">
        <div class="ui approve green button">Ok</div>
    </div>
</div>

<!--用于确认退出了课程-->
<div class="ui small modal" id="thanks">
    <i class="close icon"></i>
    <div class="header">Thanks</div>
    <div class="content">
        <p>unJoin successfully!</p>
    </div>
    <div class="actions">
        <div class="ui approve green button">Ok</div>
    </div>
</div>

<!--用于确认提交了新问题-->
<div class="ui small modal" id="add-success">
    <i class="close icon"></i>
    <div class="header">Success</div>
    <div class="content">
        <p>Add successfully!</p>
    </div>
    <div class="actions">
        <div class="ui approve green button">Ok</div>
    </div>
</div>