<h1 class="ui header">Others</h1>
<div class="ui link four cards">
    <div class="ui card">
        <div class="content">
            <div class="header">Course</div>
            <div class="meta">
                <span>time</span>
                <a>author</a>
            </div>
            <p></p>
        </div>
        <div class="extra content">
            <button class="ui right floated green button" onclick="turnToDetail('name')"> Go <i class="ui right arrow icon"></i></button>
            <span><i class="user icon"></i> 75 Learners </span>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="header">Course</div>
            <div class="meta">
                <span>time</span>
                <a>author</a>
            </div>
            <p></p>
        </div>
        <div class="extra content">
            <button class="ui right floated green button" onclick="turnToDetail('name')"> Go <i class="ui right arrow icon"></i></button>
            <span><i class="user icon"></i> 75 Learners </span>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="header">Course</div>
            <div class="meta">
                <span>time</span>
                <a>author</a>
            </div>
            <p></p>
        </div>
        <div class="extra content">
            <button class="ui right floated green button" onclick="turnToDetail('name')"> Go <i class="ui right arrow icon"></i></button>
            <span><i class="user icon"></i> 75 Learners </span>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="header">Course</div>
            <div class="meta">
                <span>time</span>
                <a>author</a>
            </div>
            <p></p>
        </div>
        <div class="extra content">
            <button class="ui right floated green button" onclick="turnToDetail('name')"> Go <i class="ui right arrow icon"></i></button>
            <span><i class="user icon"></i> 75 Learners </span>
        </div>
    </div>
</div>

<div class="ui link four cards">
    <div class="ui card">
        <div class="content">
            <div class="header">Course</div>
            <div class="meta">
                <span>time</span>
                <a>author</a>
            </div>
            <p></p>
        </div>
        <div class="extra content">
            <button class="ui right floated green button" onclick="turnToDetail('name')"> Go <i class="ui right arrow icon"></i></button>
            <span><i class="user icon"></i> 75 Learners </span>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="header">Course</div>
            <div class="meta">
                <span>time</span>
                <a>author</a>
            </div>
            <p></p>
        </div>
        <div class="extra content">
            <button class="ui right floated green button" onclick="turnToDetail('name')"> Go <i class="ui right arrow icon"></i></button>
            <span><i class="user icon"></i> 75 Learners </span>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="header">Course</div>
            <div class="meta">
                <span>time</span>
                <a>author</a>
            </div>
            <p></p>
        </div>
        <div class="extra content">
            <button class="ui right floated green button" onclick="turnToDetail('name')"> Go <i class="ui right arrow icon"></i></button>
            <span><i class="user icon"></i> 75 Learners </span>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="header">Course</div>
            <div class="meta">
                <span>time</span>
                <a>author</a>
            </div>
            <p></p>
        </div>
        <div class="extra content">
            <button class="ui right floated green button" onclick="turnToDetail('name')"> Go <i class="ui right arrow icon"></i></button>
            <span><i class="user icon"></i> 75 Learners </span>
        </div>
    </div>
</div>