<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/sematic/semantic.min.css"/>
    <link rel="stylesheet" href="/slide-css/style.css">
    <script src="/jquery.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0-rc.2/angular.min.js"
            crossorigin="anonymous"></script>
    <script src="/sematic/semantic.min.js" crossorigin="anonymous"></script>
    <script src="/slide-js/vmc.slider.full.min.js"></script>
    <script src="/floatingNav.js"></script>

    <script src="/ng-pagination/dist/directive.pagination.js"></script>
    <script src="/controllers/app.js"></script>
    <script src="/controllers/mooc/homeCtrl.js"></script>
    <script src="/services/info.service.js"></script>
    <script src="/services/const.service.js"></script>
    <script src="/services/auth.service.js"></script>
    <script src="/controllers/authCtrl.js"></script>

</head>

<body class="pushable" ng-app="myApp" ng-controller="authCtrl">

<div class="pusher" ng-controller="homeCtrl">
    <div ng-if="isLogin">
        <% include ../nav/navbar-floating.ejs%>
    </div>
    <div ng-if="!isLogin">
        <% include ../nav/navbar-floating-public.ejs %>
    </div>
    <div class="ui inverted vertical masthead center aligned segment">
        <div>
            <div ng-if="!isLogin">
                <% include ../nav/navbar-public.ejs %>
            </div>
            <div ng-if="isLogin">
                <% include ../nav/navbar-personal.ejs %>
            </div>
        </div>
        <div class="ui text container">
            <br><br>
            <h1 class="ui inverted header" >
                Moocs
            </h1>
            <h2>Study!</h2>
            <br>
        </div>
        <br>
        <i class="down arrow icon"></i>
    </div>

    <div class="ui vertical aligned stripe segment">
        <br>
        <div class="ui aligned stackable grid container">
            <div class="row">
                <div class="sixteen wide column">
                    <% include home-courses-boutique.ejs%>
                    <br>
                    <button class="ui blue right floated button" ng-click="freshCourseBoutique()" id="freshCourseBoutiqueBtn">more</button>
                </div>
            </div>
            <div class="row">
                <div class="sixteen wide column">
                    <% include home-courses-others.ejs%>
                    <br>
                    <button class="ui blue right floated button" ng-click="freshCourseOthers()" id="freshCourseOthersBtn">more</button>
                </div>
            </div>
        </div>
    </div>

    <%include ../footer.ejs%>

</div>
</body>

</html>