<html>
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/sematic/semantic.min.css"/>
    <script src="/jquery.js" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0-rc.2/angular.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plupload/2.1.1/plupload.full.min.js"></script>
    <script src="https://cdn.staticfile.org/qiniu-js-sdk/1.0.0-beta/qiniu.min.js"></script>
    <script src="/sematic/semantic.min.js" crossorigin="anonymous"></script>
    <script src="/floatingNav.js"></script>

    <script src="/ng-pagination/dist/directive.pagination.js"></script>
    <script src="/controllers/app.js"></script>
    <script src="/services/const.service.js"></script>
    <script src="/services/divide.service.js"></script>
    <script src="/services/auth.service.js"></script>
    <script src="/services/upload.service.js"></script>
    <script src="/controllers/mooc/manageCtrl.js"></script>

    <script src="/controllers/authCtrl.js"></script>
</head>
<div class="transition hidden" id="mooc-id"><%= moocId %></div>
<body class="pushable" ng-app="myApp" ng-controller="authCtrl">
    <div ng-if="isLogin">
        <% include ../nav/navbar-floating.ejs%>
    </div>
    <div ng-if="!isLogin">
        <% include ../nav/navbar-floating-public.ejs %>
    </div>

<div class="pusher" ng-controller="manageCtrl">
    <div class="ui vertical masthead center aligned segment" style="background-image: url(/images/bg2.jpg);">

        <div>
            <div ng-if="!isLogin">
                <% include ../nav/navbar-public.ejs %>
            </div>
            <div ng-if="isLogin">
                <% include ../nav/navbar-personal.ejs %>
            </div>
        </div>

        <div class="ui text container">
            <br><br><br><br><br><br>
            <h1 class="ui inverted header">
                <%= title %>
            </h1>
            <h2>Manager your course!</h2>
            <br><br><br>
            <i class="down arrow icon"></i>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui aligned stackable grid container">
            <div class="row">
                <!--侧边栏-->
                <div class="three wide column">
                    <div class="ui vertical labeled icon buttons tabular menu">
                        <button class="ui button active" data-tab="overview-edit" id="overview-btn"><i class="tag icon"></i> Overview </button>
                        <button class="ui button" ng-repeat="step in steps" ng-click="showStep(step, $index)">
                            <i class="bookmark icon"></i>
                            {{step.step_header}}
                        </button>
                    </div>
                    <br>
                    <button class="ui basic pink button" ng-click="addNewStep()">Add New Step</button>
                </div>
                <!--右侧内容区-->
                <div class="thirteen wide right floated column">
                    <% include course-overview-edit.ejs %>

                    <% include course-steps-edit.ejs %>

                    <% include course-new-step.ejs %>

                </div>
            </div>
        </div>
    </div>

    <!--以下为add step时弹出的页面-->
    <div class="ui modal" id="add-step">
        <i class="close icon"></i>
        <div class="header">
            Add New Step
        </div>
        <div class="ui form">
            <div class="ui stacked segment">
                <div class="field" id="step-name">
                    <label>Step Name</label>
                    <div class="ui input">
                        <input placeholder="Mooc Name" type="text" ng-model="s_name">
                    </div>
                </div>
                <div class="field">
                    <label>Content</label>
                    <div class="ui input">
                        <textarea id="step-content" ng-model="s_content"></textarea>
                    </div>
                </div>
                <div class="actions">
                    <button class="ui green submit button approve" ng-click="submitNewStep(s_name, s_content)">ok</button>
                </div>
            </div>
        </div>
    </div>
    <!--以下为点击change guide时弹出的页面-->
    <div class="ui modal" id="new-guide">
        <i class="close icon"></i>
        <div class="header" id="detailName">
            New Gudie
        </div>
        <div class="content">
            <form class="ui form">
                <div class="field" id="dataset-upload">
                    <a href="#" id="upload">upload</a>
                </div>
                <button class="ui positive right floated labeled icon button" ng-click="guideChanged()">Yes <i class="checkmark icon"></i> </button>
                <br>
            </form>
        </div>
    </div>

    <% include ../footer.ejs %>
</div>


<script>

    $('.tabular.menu .button').tab();

</script>

</body>

</html>
