<!--以下为点击new submition时弹出的页面-->
<div class="ui modal" id="newSubmition">
    <i class="close icon"></i>
    <div class="header" id="detailName">
        New Submition
    </div>
    <div class="content">

        <form class="ui form">
            <div class="field aligned">
                <input type="file" name="upload-file" id="upload-file">
           </div>
            <button ng-click="upload()" class="ui positive right floated labeled icon button" type="submit">Yes <i class="checkmark icon"></i> </button>
            <br>
        </form>
    </div>
</div>

