<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="/sematic/semantic.min.css"/>
      <link rel="stylesheet" href="/stylesheets/datasetdetail.css"/>
      <script src="/jquery.js" crossorigin="anonymous"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0-rc.2/angular.min.js"
              crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/plupload/2.1.1/plupload.full.min.js"></script>
      <script src="https://cdn.staticfile.org/qiniu-js-sdk/1.0.14-beta/qiniu.min.js"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="/sematic/semantic.min.js" crossorigin="anonymous"></script>
      <script src="/floatingNav.js"></script>
      <script src="/ng-pagination/dist/directive.pagination.js"></script>
      <script src="/controllers/app.js"></script>
      <script src="/services/detail.service.js"></script>
      <script src="/services/upload.service.js"></script>
      <script src="/services/info.service.js"></script>
      <script src="/services/auth.service.js"></script>
      <script src="/services/const.service.js"></script>
      <script src="/controllers/authCtrl.js"></script>
      <script src="/controllers/dataset/detailCtrl.js"></script>
  </head>
  <body class="pusherable" ng-app="myApp">
   <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment">
            <div ng-controller="authCtrl">
                <div ng-if="!isLogin">
                    <% include ../nav/navbar-public.ejs %>
                </div>
                <div ng-if="isLogin">
                    <% include ../nav/navbar-personal.ejs %>
                </div>
            </div>
            <div class="ui text container">
                <br><br>

                <h1 class="ui inverted header" id="datasetname">
                   <%= title %>
                </h1>
                <h2>Here are the dataset <%= title %> !</h2>
                <br>
                <div class="ui huge teal button">Your Data <i class="down arrow icon"></i></div>
            </div>
        </div>

        <div ng-controller="detailCtrl" class="ui vertical stripe segment">
            <div class="ui aligned stackable grid container">
                <div class="row">
                    <!--主体部分-->
                    <div class="ui top attached tabular menu">

                        <a class="active item" data-tab="One" ng-click="getContent()">Content </a>
                        <a class="item" data-tab="Two" ng-click="getPullRequests()">Pull Request </a>
                        <a class="item" data-tab="Four" ng-click="getComments()">Comments </a>
                       <!--右侧喜爱和贡献标签-->
                        <div class="right menu">
                            <div class="item">
                                <div class="ui labeled button">
                                    <div class="ui basic pink button"><i class="fork icon"></i> Contribute </div>
                                    <a class="ui left pointing pink label">

                                        {{Contribute}}
                                   </a>
                                </div>
                            </div>
                            <div class="item">

                                <button class="ui basic blue button" ng-click="toDatasetManage('<%=title%>')" ng-if="isAdmin === '1'">Admin</button>
                           </div>
                        </div>
                    </div>
                    <!--数据集展示部分-->
                    <% include detail-content.ejs%>

                    <!--pull request部分-->
                    <% include detail-pullrequest.ejs %>

                    <!--comments部分-->
                    <% include detail-comment.ejs %>
                    <!--该页面所用弹出框-->
                    <% include detail-popupwindow.ejs%>
                </div>
            </div>
        </div>
        <%include ../footer.ejs%>
    </div>



  </body>
</html>

<script>
    $('.tabular.menu .item').tab();

    var name;

    function showPullRequest(dataSetName) {
        $('#showDetailName').val(dataSetName);
        $('#newPullRequest').modal('show');
    };



    function addDataSet() {
        // 向后台请求加数据集
    };


</script>
