<!--以下为点击new submition时弹出的页面-->
<div class="ui modal" id="newSubmition">
    <i class="close icon"></i>
    <div class="header" id="detailName">
        New Submition
    </div>
    <div class="content">
        <form class="ui form">
            <select ng-model="_type" ng-change="select()" ng-options="t.text for t in types">

            </select>
            <div class="field aligned" id="dataset-upload">
                <a href="#" id="upload">New File</a>
           </div>
            <div class="actions">
                <div ng-click="upload()" class="ui positive right floated labeled icon button approve" type="submit">Yes <i class="checkmark icon"></i> </div>
            </div>
            <br>
        </form>
    </div>
</div>

