<!--这边打表用循环-->
<div class="ui bottom attached tab segment" data-tab="Two">
    <div class="ui items">
        <div class="item">
            <button class="orange ui button" onclick="newSubmition()">New Submition</button>
        </div>
        <hr>

        <div ng-repeat="pull in pullrequest.list">
           <div class="item">
                <div class="image">
                    <img src="http://semantic-ui.com/images/wireframe/image.png">
                </div>
                <div class="content">

                    <a class="header">{{pull.userName}}</a>
                   <div class="meta">
                        <span class="cinema">desc</span>
                    </div>
                    <div class="description">

                        <p>{{pull.description}}</p>
                    </div>
                    <div class="extra">
                        <div class="ui right floated primary button" ng-if="pull.type==0" ng-click="confirmPullRequest(pull,1)">Merge <i class="right chevron icon"></i> </div>
                    </div>
                    <div class="extra">
                        <div class="ui right floated primary button" ng-if="pull.type==0" ng-click="confirmPullRequest(pull,0)">Reject <i class="right chevron icon"></i> </div>
                   </div>
                </div>
            </div>
            <hr>
        </div>

        <div>
            <pagination count="pullrequest.count" take="pullrequest.take" activate="pullrequest.activate"
                        max-size="pullrequest.maxSize" hide-arrows="true"></pagination>

        </div>

    </div>
</div>


