<!--这边打表用循环-->
<div class="ui bottom attached tab segment" data-tab="Two">
    <div class="ui items">
        <div class="item">
            <button class="orange ui button" ng-click="newSubmition()">New Submition</button>
        </div>
        <hr>

        <div ng-repeat="pull in pullrequest.list">
           <div class="item">
                <div class="content _row">
                    <a class="header">{{pull.userName}}</a>
                   <div class="meta">
                        <span class="cinema">desc</span>
                    </div>
                    <div class="description">
                        <p>{{pull.description}}</p>
                    </div>
                    <div class="description">
                        <a href="{{pull.url}}">{{pull.url}}</a>
                    </div>
                </div>
            </div>
            <hr>
        </div>

        <div>
            <pagination count="pullrequest.count" take="pullrequest.take" activate="pullrequest.activate"
                        max-size="pullrequest.maxSize" hide-arrows="true"></pagination>

        </div>

    </div>
</div>


