<div class="ui items">
    <!--请求进行打表-->
    <div class="item">
        <div class="image">
            <img src="http://semantic-ui.com/images/wireframe/image.png">
        </div>
        <div class="content">
            <a class="header">UserName</a>
            <div class="meta">
                <span class="cinema">desc</span>
            </div>
            <div class="description">
                <p></p>
            </div>
            <div class="extra">
                <div class="ui right floated primary button" onclick="confirmPullRequest('<%= title %>')">Manage <i class="right chevron icon"></i> </div>
            </div>
        </div>
    </div>
    <hr>
</div>