<!--这边打表用循环-->
<div class="ui bottom attached tab segment" data-tab="Two">
    <div class="ui items">
        <div class="item">
            <button class="orange ui button" ng-click="newSubmition()">New Submition</button>
        </div>
        <hr>

        <table class="ui very basic celled table">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Description</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tr ng-repeat="pull in pullrequest.list">
                <td>
                    {{pull.userName}}
                </td>
                <td>
                    {{pull.description}}
                </td>
                <td>
                    <a href="{{pull.url}}">download</a>
                </td>
            </tr>
            <tbody>

            </tbody>
        </table>


    </div>
</div>


