<div class="ui bottom attached tab segment" data-tab="Four">
    <div class="ui comments" ng-repeat="comment in Comments">
        <div class="comment">
            <a class="avatar">
                <img src="{{comment.head_href}}">
            </a>
            <div class="content">

                <a class="author">{{comment.username}}</a>
                <div class="metadata">
                    <span class="date">{{comment.updatetime}}</span>
               </div>
                <div class="text">{{comment.content}}</div>
            </div>
        </div>
        <br>
    </div>
    <h2>comment</h2>
    <form class="ui reply form">
        <div class="field">

            <textarea ng-model="_comment"></textarea>
        </div>
        <div class="ui blue labeled submit icon button" ng-click="publishComment(_comment)"><i class="icon edit"></i> Add  </div>
   </form>
</div>
