<div class="ui bottom attached tab segment active" data-tab="One">
    <table class="ui celled table">
        <thead>

            <tr>
                <th>key</th>
                <th>value</th>
                <th>meaning</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in content.list">
                <td>{{data.key}}</td>
                <td>{{data.type}}</td>
                <td>{{data.meaning}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="3">
                    <pagination count="content.count" take="content.take" activate="content.activate"
                                max-size="content.maxSize" hide-arrows="true"></pagination>
               </th>
            </tr>
        </tfoot>
    </table>
</div>
