<!DOCTYPE html>
<html>
  <head>
      <title><%= title %></title>
      <meta charset="UTF-8">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="/sematic/semantic.min.css"/>
      <script src="/jquery.js" crossorigin="anonymous"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="/sematic/semantic.min.js" crossorigin="anonymous"\></script>
      <script src="/floatingNav.js"></script>
  </head>
  <body class="pushable">

  <% include ../nav/navbar-floating.ejs%>

  <div class="pusher">
      <div class="ui inverted vertical masthead center aligned segment">

        <% include ../nav/navbar-personal.ejs %>

          <div class="ui text container">
              <br><br>
              <h1 class="ui inverted header">
                  DataSets
              </h1>
              <h2>Let's enjoy data with others!</h2>
              <br>
              <button class="ui huge green button" onclick="toDataset()">Get Started <i class="down arrow icon"></i></button>
          </div>
      </div>
        <br><br>
      <div class="ui vertical stripe segment" id="datasets">
          <div class="ui aligned stackable grid container">
              <div class="row">
                  <!--卡片数据集-->
                  <div class="ten wide column dimmer">
                      <div class="ui two cards">
                          <!--左侧展示的数据集卡片-->
                          <% include datasetcards.ejs%>
                      </div>
                      <br>
                      <button class="ui fluid blue button" onclick="freshDataSet()" id="freshDataSetBtn">More </button>
                  </div>
                  <!--右侧标签栏-->
                  <div class="six wide right floated column">
                      <div class="ui top attached tabular menu">
                          <a class="active item" data-tab="Contribute">My Contribute </a>
                          <a class="item" data-tab="My Dataset">My Dataset </a>
                      </div>
                      <div class="ui bottom attached  tab segment active" data-tab="Contribute">
                          <div class="ui relaxed divided list">
                              <!--侧边栏中的我贡献的数据集-->
                              <% include datasetsidebar-mycontribute.ejs%>
                          </div>
                      </div>
                      <div class="ui bottom attached tab segment" data-tab="My Dataset">
                          <div class="ui relaxed divided list">
                              <!--侧边栏中的我的数据集-->
                              <% include datasetsidebar-mydataset.ejs%>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <%include ../footer.ejs%>
  </div>
    
  </body>
  
</html>
<script>
  $("body").css('height',$(window).height());
  $('.tabular.menu .item').tab();

  function toDataset() {
      window.scrollTo(0, $('#datasets').scrollHeight);
  };

  function freshDataSet() {
      $("#freshDataSetBtn").addClass('loading');
      setTimeout(function () {
            // 在这里刷新数据集
          $("#freshDataSetBtn").removeClass('loading');
      }, 1000);
  };
</script>