<!DOCTYPE html>
<html>
  <head>
      <title><%= title %></title>
      <meta charset="UTF-8">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="/sematic/semantic.min.css"/>
      <script src="/jquery.js" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0-rc.2/angular.min.js"
              crossorigin="anonymous"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="/sematic/semantic.min.js" crossorigin="anonymous"></script>
      <script src="/floatingNav.js"></script>

      <script src="/ng-pagination/dist/directive.pagination.js"></script>
      <script src="/controllers/app.js"></script>
      <script src="/services/info.service.js"></script>
      <script src="/services/auth.service.js"></script>
      <script src="/services/list.service.js"></script>
      <script src="/services/const.service.js"></script>
      <script src="/controllers/dataset/homeCtrl.js"></script>
  </head>
  <body class="pushable" ng-app="myApp" >

  <% include ../nav/navbar-floating.ejs%>

  <div class="pusher" ng-controller="homeCtrl">
      <div class="ui inverted vertical masthead center aligned segment">

        <% include ../nav/navbar-personal.ejs %>

          <div class="ui text container">
              <br><br>
              <h1 class="ui inverted header">
                  DataSets
              </h1>
              <h2>Let's enjoy data with others!</h2>
              <br>
              <button class="ui huge green button" onclick="toDataset()">Get Started <i class="down arrow icon"></i></button>
          </div>
      </div>
        <br><br>
      <div class="ui vertical stripe segment" id="datasets">
          <div class="ui aligned stackable grid container">
              <div class="row">
                  <!--卡片数据集-->
                  <div class="ten wide column dimmer">
                      <div class="ui two cards" >
                          <!--左侧展示的数据集卡片-->
                          <div class="ui card" ng-repeat=" project in HotProjects">
                              <div class="content">

                                  <div class="header">{{project.datasetname}}</div>
                             </div>
                              <div class="content">
                                  <h4 class="ui sub header">Activity</h4>
                                  <div class="ui small feed">
                                      <div class="event">
                                          <div class="content">

                                              <div class="summary"><a>{{project.username}}</a> <a ng-if="project.type==='1'"></a> <a ng-if="project.type==='2'"></a> to the project </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="extra content">

                                  <button class="ui button"><a href="dataset/{{project.datasetname}}/detail">Join Project</a></button>
                             </div>
                          </div>
                      </div>
                      <br>
                      <button class="ui fluid blue button" ng-click="fresh()" id="freshDataSetBtn">More </button>
                  </div>
                  <!--右侧标签栏-->
                  <div class="six wide right floated column">
                      <div class="ui top attached tabular menu">
                          <a class="active item" data-tab="Contribute">My Contribute </a>
                          <a class="item" data-tab="My Dataset">My Dataset </a>
                      </div>
                      <div class="ui bottom attached  tab segment active" data-tab="Contribute">
                          <div class="ui relaxed divided list" ng-repeat=" project in MyContributes">
                              <div class="item">
                                  <div class="content">

                                      <a class="header">{{project.datasetname}}</a>
                                      <div class="description">Updated At {{project.updatetime}}</div>
                                 </div>
                              </div>
                          </div>
                      </div>
                      <div class="ui bottom attached tab segment" data-tab="My Dataset">
                          <div class="ui relaxed divided list" ng-repeat=" project in MyProjects">
                              <div class="item">
                                  <div class="content">

                                      <a class="header">{{project.datasetname}}</a>
                                      <div class="description">Updated At {{project.updatetime}}</div>
                                 </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <%include ../footer.ejs%>
  </div>
    
  </body>
  
</html>

<script>
  $("body").css('height',$(window).height());
  $('.tabular.menu .item').tab();

  function toDataset() {
      window.scrollTo(0, $('#datasets').scrollHeight);
  };



</script>
