<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="/sematic/semantic.min.css"/>
      <script src="/jquery.js" crossorigin="anonymous"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0-rc.2/angular.min.js"
              crossorigin="anonymous"></script>
      <script src="/sematic/semantic.min.js" crossorigin="anonymous"></script>
      <script src="/floatingNav.js"></script>

      <script src="/ng-pagination/dist/directive.pagination.js"></script>
      <script src="/controllers/app.js"></script>
      <script src="/services/const.service.js"></script>
      <script src="/services/upload.service.js"></script>
      <script src="/services/info.service.js"></script>
      <script src="/services/create.service.js"></script>
      <script src="/services/auth.service.js"></script>
      <script src="/services/detail.service.js"></script>
      <script src="/controllers/authCtrl.js"></script>
      <script src="/controllers/dataset/manageCtrl.js"></script>
  </head>
  <body class="pusherable" ng-app="myApp" ng-controller="authCtrl">
    <div class="pusher" ng-controller="manageCtrl">
        <div ng-if="isLogin">
            <% include ../nav/navbar-floating.ejs%>
        </div>
        <div class="ui vertical masthead center aligned segment" style="background-image: url(/images/bg3.jpg);">
            <div>
                <div ng-if="!isLogin">
                    <% include ../nav/navbar-public.ejs %>
                </div>
                <div ng-if="isLogin">
                    <% include ../nav/navbar-personal.ejs %>
                </div>
            </div>
            <div class="ui text container">
                <br><br><br><br><br><br>
                <h1 class="ui inverted header" id="datasetname">
                    <%= title %>
                </h1>
                <h2>Here are the pull request for <%= title %> !</h2>
                <br><br><br>
                <i class="down arrow icon"></i>
            </div>
        </div>

        <div class="ui vertical stripe segment">
            <div class="ui aligned stackable grid container">
                <div class="centered row">
                    <div class="ten wide column">
                        <% include detail-admin.ejs %>
                    </div>
                </div>
            </div>
        </div>
        <%include ../footer.ejs%>
    </div>

    <!--该页面所用弹出框-->
    <% include detail-popupwindow.ejs%>

  </body>
</html>

<script>

    var name;

    function confirmPullRequest(dataSetName) {
        name = dataSetName;
        $('#confirmDetailName').val(dataSetName);
        $('#confirmPullRequest').modal('show');
    };

    function showWarning(){
        $('#confirmWarning').modal('show');
    };
</script>